[2017-01-25 08:56] nlsdfnbch opened #1 "Order book & Raw Order books not working"
This is due to an error within the Btfx API and/or their documentation.

Responses for these endpoints are identical, which makes it impossible to differentiate between their subscription confirmations, hence the data receveived for them ends up in the wrong method.

A ticket has been sent to bitfinex support to resolve this issue.

[2017-01-25 08:57] nlsdfnbch opened #2 "Authentication Not working"
While the basic sign method has been written, authentication isn't working as of now.

[2017-01-25 08:59] nlsdfnbch opened #3 "Config settings not supported"
Current methods have not been tested with custom config settings set via the config event.

An expected issue is that string values may be incompatible with methods that expect decimals instead.

Also, enabling sequencing may result in unexpected behaviour and/or errors

[2017-03-01 10:14] nlsdfnbch commented on #1
Support responded, that precision needs to be prefixed with `R` instead of `P` for raw order book. Fixed accordingly in code.

[2017-03-01 10:14] #1 closed

[2017-03-05 10:54] zdavatz commented on #2
Ok let us know when it will be working. Thank you.

[2017-03-11 17:15] stefan-j commented on #2
I'm doing this for authentication:

[code]

I'm using this for the V2 API, however I based it of the V1 API documentation, so it should work. You'll automatically get subscribed to the authenticated channels after this

[2017-03-11 19:16] zdavatz commented on #2
ok, thank you!

[2017-03-11 21:52] nlsdfnbch commented on #2
Cheers, mate! The client is written for V2, so your code should work. I simply wasn't sure if this is to be sent with every command intended for the auth channels. But that's cleared up now - I'll implement it in the next days.

[2017-03-11 21:52] nlsdfnbch commented on #2
..just leaving this open until I commit the changes

[2017-03-13 10:54] #2 closed

[2017-03-13 14:56] zdavatz commented on #2
this is how we do it in Ruby: https://github.com/zdavatz/rapflag

[2017-03-25 15:09] Leobouloc opened #4 "Sleep time after `start` affects behaviour"
I tried the sample code in the README.  My issue is with the effect of setting sleep time in this line:

[code]

When keeping `1` second sleep time, I could receive server responses. When I then set sleep time to `5`, values in wss.tickers and wss.books would no longer update no matter how long I waited:

[code]
This behaviour seems like it should not be expected.

Also, NB: there is a `'` missing

[2017-03-25 15:23] Leobouloc opened #5 "Errors in `BtfxWss()._handle_book` and `Orders().__call__`"
I put both errors in the same issue as I am unsure how both are linked and how one fix affects the other...

When running the sample code in the documentation, I get the following error:

[code]

This fix in `_handle_data` seems to avoid having an error but I don't know if this is the behavior you intended:

[code]

Using this fix, I then get the following error, in  `wss.books['BTCUSD'].bids()`:

[2017-03-30 14:35] nlsdfnbch commented on #5
Cheers for the issue submission! The two aren't related, but dont worry about it ;D
The first issue (the unpack error), used to happen for heartbeats and other data sent through the channels. I thought I had them all covered, but I left it in just in case something snuck by - congrats, you've found an unhandled case!
Is there any chance you've logged it? `handle_data` should write a log message in

[2017-03-30 14:38] nlsdfnbch commented on #4
I'll take a look at this at the weekend - it is indeed unexpected behaviour. Thanks for submitting this!

[2017-03-31 08:12] Leobouloc commented on #5
Thanks! I have a log, but it's a bit too large to upload or paste. I'll try isolating the problem and send you a shorter log this weekend.

[2017-03-31 17:43] nlsdfnbch commented on #5
I actually double-checked just now - I raise a `FaultyPayloadError` without actually catching that exception (so no log entry, shame on me) - I'll fix that, but perhaps the trasceback was written to your log nevertheless. searching / grepping for `FaultyPayloadError` should yield the line.

[2017-03-31 17:57] nlsdfnbch opened #6 "Review and Implement Changes of ABitfinex API Update"
As described here:

http://docs.bitfinex.com/v2/docs/changelog

These go live today (31.03.17), but should only affect the client in a minor way.

[2017-04-23 03:43] GenesisGupta opened #7 "I am trying to store btfxwssraw for storing data but it is not working"
wss1 = BtfxWssRaw(key=apikey,secret=apisecret,output_dir='data/')
wss1.start()

using the following code ,  i am trying to store data ,
It created all the csv files , but it is somehow not storing anything.

[2017-04-23 18:12] nlsdfnbch commented on #7
Are you using `dev` or `master` ?

[2017-04-23 21:08] penthoy opened #8 "Shows syntaxError trying to run for the first time."
[code]

Maybe I'm doing something wrong? any idea why it giving this error? thanks.

[2017-04-24 02:07] GenesisGupta commented on #7
what is dev or what is master.

it pip installed this : https://github.com/nlsdfnbch/bitfinex_wss.git

Regards,
Nitin Gupta
9731423808

On Sun, Apr 23, 2017 at 11:42 PM, Nils <notifications@github.com> wrote:

[2017-04-24 09:31] GenesisGupta opened #9 "pls change the following line in classes.py : line 1089"
current line : date = time.strftime('%Y-%m-%d_%H:%M:%S')

new line : time.strftime('%Y-%m-%d_%H_%M_%S')

new line does not throw an error , old line does

[2017-04-24 09:33] GenesisGupta commented on #8
pls run the following code in python 3.5 and let me know if you get an error

from btfxwss import BtfxWss,BtfxWssRaw
import logging
import sys
import time

logging.basicConfig(level=logging.DEBUG, filename='test.log')
log = logging.getLogger(__name__)

fh = logging.FileHandler('test.log')
fh.setLevel(logging.DEBUG)
sh = logging.StreamHandler(sys.stdout)
sh.setLevel(logging.DEBUG)

log.addHandler(s

[2017-04-24 14:45] nlsdfnbch commented on #8
@penthoy, that's typically an indicator that you're using an older python version than this code was tested with. Please note that only **Python Version 3.5 or later** is supported.

[2017-04-24 14:50] nlsdfnbch commented on #7
`dev` and `master` refers to the branches of this git project.
`pip` installation isn't currently supported, and I haven't uploaded the package there yet. It may be a third-party deployment (by a bot, for example). Please download the code from this repo and try again.
Thanks for your effort!

[2017-04-24 14:52] nlsdfnbch commented on #9
Could you specify your Python version and OS ?

[2017-04-24 15:02] GenesisGupta commented on #9
I am using windows 64 bit , python 3.5.3

Regards,
Nitin Gupta
9731423808

On Mon, Apr 24, 2017 at 8:22 PM, Nils <notifications@github.com> wrote:

[2017-04-24 15:03] GenesisGupta commented on #7
i have to download the code from this repository and then ?

run setup.py ?

Regards,
Nitin Gupta
9731423808

On Mon, Apr 24, 2017 at 8:20 PM, Nils <notifications@github.com> wrote:

[2017-04-24 15:05] GenesisGupta commented on #7
one more question ?

which one should i download ?

Dev or master

Regards,
Nitin Gupta
9731423808

On Mon, Apr 24, 2017 at 8:33 PM, Nitz Gupta <rocks.nitz@gmail.com> wrote:

[2017-04-24 15:15] nlsdfnbch commented on #7
Apologies, I misread your installation. You have already installed from my git repository (by default this installs `master`).

before I look into this, one final thing - what Python version are you using?

[2017-04-24 15:18] nlsdfnbch commented on #9
Any what error are you seeing? There should be an error message and a stacktrace ( a bunch of lines of code pointing to the source of the issue, usually in red).

So far, I cannot reproduce this.
`date = time.strftime('%Y-%m-%d_%H:%M:%S')`
does not cause any error at all on my setup.

[2017-04-24 15:23] nlsdfnbch commented on #7
Also, could you attach your log files? It should be in the working directory you call your code from (if you use the sample code in the readme, it should be called `test.log`).

[2017-04-24 15:57] GenesisGupta commented on #7
​
 test - Copy (2).log
<https://drive.google.com/file/d/0B9-JgLO1Bg7rMGVJd1BWR3pXbms/view?usp=drive_web>
​sending the file but it is too large

Regards,
Nitin Gupta
9731423808

On Mon, Apr 24, 2017 at 8:53 PM, Nils <notifications@github.com> wrote:

[2017-04-24 16:52] nlsdfnbch commented on #7
It runs as expected on my machine now. Pull / install the fix from the repository, and let me know if it works for you now!

[2017-04-24 16:53] GenesisGupta commented on #7
are you able to save btfxwssraw file somewhere on your computer ?

Regards,
Nitin Gupta
9731423808

On Mon, Apr 24, 2017 at 10:22 PM, Nils <notifications@github.com> wrote:

[2017-04-24 17:03] GenesisGupta commented on #7
I tried running it again , it is still not saving anything ,

if it has to rotate after sometime , it has to save saving in a folder
right ?

this is the code that i am running

from btfxwss import BtfxWss,BtfxWssRaw
import logging
import sys
import time

logging.basicConfig(level=logging.DEBUG, filename='test.log')
log = logging.getLogger(__name__)

fh = logging.FileHandler('test.log')
fh.setLeve

[2017-04-24 17:09] nlsdfnbch commented on #7
Running this:
`from btfxwss import BtfxWssRaw
import time
import logging
import sys

logging.basicConfig(level=logging.DEBUG, filename='test.log')
log = logging.getLogger(__name__)

fh = logging.FileHandler('test.log')
fh.setLevel(logging.DEBUG)
sh = logging.StreamHandler(sys.stdout)
sh.setLevel(logging.DEBUG)

log.addHandler(sh)
log.addHandler(fh)

wss = BtfxWssRaw(key='my_api_key', secret='my_ap

[2017-04-24 17:17] GenesisGupta commented on #7
where would this data be stored.....

i ran the code as you said,

it create all the files but it is not storing anything.

It is 0kb

Regards,
Nitin Gupta
9731423808

On Mon, Apr 24, 2017 at 10:39 PM, Nils <notifications@github.com> wrote:

[2017-04-24 17:22] nlsdfnbch commented on #7
If you run your script in `/tmp/`, using the code above the files would be stored under `/tmp/` directly. So the files should be generated in your current working directory, and all files except `btfx_tickers.csv` and `btfx_books.csv` should be `0KB`.

[2017-04-24 17:24] nlsdfnbch commented on #7
If you have pulled / installed the new commits, and it's still not working, please upload a new log (delete the old one before you run the script - that way it's not too cluttered). That way, I may be able to figure out where it's not working.

Thanks for your patience!

[2017-04-24 17:31] GenesisGupta commented on #7
running this code :

from btfxwss import BtfxWss,BtfxWssRaw
import logging
import sys
import time

logging.basicConfig(level=logging.DEBUG, filename='test.log')
log = logging.getLogger(__name__)

fh = logging.FileHandler('test.log')
fh.setLevel(logging.DEBUG)
sh = logging.StreamHandler(sys.stdout)
sh.setLevel(logging.DEBUG)

log.addHandler(sh)
log.addHandler(fh)

apikey = 'UJhQerjgr7zcg14DpaarUYjY

[2017-04-24 17:37] nlsdfnbch commented on #7
@GenesisGupta , sorry, I don't see a new log - did you miss a link ?

[2017-04-24 17:48] GenesisGupta commented on #7
sending the log again

Regards,
Nitin Gupta
9731423808

On Mon, Apr 24, 2017 at 11:07 PM, Nils <notifications@github.com> wrote:

[2017-04-25 06:31] penthoy commented on #8
Thanks the all your reply,  no more syntax error, GenesisGupta, if I run the exact script, the wss.tickers seemed to print out fine, but the wss.books just print out empty list, which is wrong, and it seemed to be in a constant loop, and never give me back my terminal, I'm not sure if this is the intended behavior, if I take out the wss.tickers print statement, it'll give time out error, which is

[2017-04-25 15:30] nlsdfnbch commented on #8
@penthoy, please attach a copy of your log file (it should be located in the directory where you run your script) - do this as follows:
- If you've run the script before, delete any files called `test.log` inside your script's directory
- run the following code:
[code]

[2017-04-25 15:34] nlsdfnbch commented on #7
@GenesisGupta , if you've updated your previous upload at <https://drive.google.com/file/d/0B9-JgLO1Bg7rMGVJd1BWR3pXbms/view>, then you appear to not have the latest commits I added to master and should re-install from github.

If that's not the log you uploaded anew, then I don't see where you've uploaded it to, sorry.

[2017-04-25 16:30] GenesisGupta commented on #7
pls check this log and let me know in case of any queries.

I am looking at solving this from 2 days.

Thanks for all the efforts of resolving the queries till now.

Regards,
Nitin Gupta
9731423808

On Tue, Apr 25, 2017 at 9:04 PM, Nils <notifications@github.com> wrote:

[2017-04-25 17:18] nlsdfnbch commented on #7
Alright, we're obviously not quite on the same page - I do not know which log you're referring to, since there is no log attached to your last reply.

Please copy and paste the content of the log file to https://pastebin.com/ and post the link to it on here.

Otherwise, I cannot help you.

[2017-04-25 18:03] GenesisGupta commented on #7
i have attached the file in the mail itself.

i uninstalled and reinstalled the git today again some time back.

INFO:btfxwss.classes:BtfxWss.start(): Initializing Websocket connection..
INFO:btfxwss.classes:BtfxWss.start(): Initializing receiver thread..
INFO:btfxwss.classes:BtfxWss.start(): Initializing processing thread..
INFO:btfxwss.classes:BtfxWss.start(): Initializing rotator thread..
DEBUG

[2017-04-25 18:08] GenesisGupta commented on #7
i am probably getting data now it seems.

how to get consolidated order book.

Regards,
Nitin Gupta
9731423808

On Tue, Apr 25, 2017 at 11:32 PM, Nitz Gupta <rocks.nitz@gmail.com> wrote:

[2017-04-25 18:44] nlsdfnbch commented on #7
That's great to hear!
If by consolidated order books you mean books with a different aggregation level, you can pass a parameter while subscribing (i.e. `wss.order_book('BTCUSD', prec='P3')`). Consult [Bitfinex's API Documentation for available parameters.](https://bitfinex.readme.io/v2/reference#ws-public-order-books).

If you require custom consolidation of the books, for instance by a certain v

[2017-04-26 18:14] GenesisGupta commented on #7
How do i subscribe to get candles data.... ?

OHLC

i tried wss.candles('BTCUSD')

it did not work

i tried wss.candles()

it did not work

i tried wss.candles('BTCUSD' , table = '1m')

it did not work

it constantly gives _io.TextIOWrapper' object is not callable error ?

Regards,
Nitin Gupta
9731423808

On Wed, Apr 26, 2017 at 12:14 AM, Nils <notifications@github.com> wrote:

[2017-04-26 18:28] nlsdfnbch commented on #7
To subscribe to candle data, use `wss.ohlc('BTCUSD')`. Accessing `wss.candles()` attempts to access the file object the data is written to. This is indeed an unfortunate naming on my part. I'll look note it down in the to do list for the next release.

[2017-04-26 18:31] nlsdfnbch opened #10 "API Endpoint for candle data needs renaming"
Currently, subscribing to the endpoint `candles` requires calling the method `BtfxWss.ohlc()`, which is counter intuitive, since all other method names reflect their API counterpart.

Hence, renaming the methods is requested.

[2017-04-26 18:31] #9 closed

[2017-04-26 18:36] GenesisGupta commented on #7
thanks,

by default , ohlc would record 1 minute data... ?

one more question .....

orderbook that i have subscribed to stop to record after some time and
stopping is not always at a constant time , sometime 5 minute , sometime 10
minute and sometime 15 minutes ?

Regards,
Nitin Gupta
9731423808

On Wed, Apr 26, 2017 at 11:58 PM, Nils <notifications@github.com> wrote:

[2017-04-26 18:41] nlsdfnbch commented on #7
By default it's 1Min candles, yes. However, I've just noticed that registration for these channels does not appear to work correctly, anymore. I'll supply a hotfix as soon as I can.

[2017-04-26 18:57] nlsdfnbch commented on #7
Fix is live on master (Commit 8f4799c).

Regarding the stoppage of recording, this is part of a bigger problem with message handling. For now, you'll have to handle this issue yourself- I recommend resetting the client at regular intervals.

[2017-04-27 02:26] GenesisGupta commented on #7
what does resetting the client mean ?

Should i do wss.start() after every 10 minutes .

or should i do this after every 10 minutes ?

wss.ticker('BTCUSD')
wss.order_book('BTCUSD', prec='P3',len="100")
wss.ohlc('BTCUSD')

Regards,
Nitin Gupta
9731423808

On Thu, Apr 27, 2017 at 12:27 AM, Nils <notifications@github.com> wrote:

[2017-04-27 13:59] nlsdfnbch commented on #7
resetting means shutting down the client and re-initializing it.
like so:

[code]
If `restart()` throws errors for subscriptions, try `wss.restart(soft=False)` and manually send subscriptions commands (i.e. `wss.ticker('BTCUSD')`.

I will close this issue now, since it's deviated from the original topic.
If you have further issues, please don't hesitate to open a new issue after reading the [CONTR

[2017-04-27 13:59] #7 closed

[2017-04-28 14:48] GenesisGupta commented on #7
I am getting an error while restarting :

Exception in thread Controller Thread:
Traceback (most recent call last):
  File "D:\Program Files\Python35\lib\threading.py", line 914, in
_bootstrap_inner
    self.run()
  File "D:\Program Files\Python35\lib\threading.py", line 862, in run
    self._target(*self._args, **self._kwargs)
  File "D:\Program Files\Python35\lib\site-packages\btfxwss\classes.py

[2017-04-29 10:10] nlsdfnbch commented on #7
moving this to a new separate issue

[2017-04-29 10:12] nlsdfnbch opened #11 "Restart() Method throws error"
@GenesisGupta submitted the following issue

[code]
attaching the code that i am running :

[code]

Regards,
Nitin Gupta
9731423808

On Thu, Apr 27, 2017 at 7:29 PM, Nils <notifications@github.com> wrote:

[2017-04-29 10:23] nlsdfnbch commented on #11
As the error suggests, this is an error during the handshake with the server, and not a bug in `bitfinex_wss`.
[See the `websockets` library GitHub for more information.](https://github.com/websocket-client/websocket-client).

If this error continues, I can only suggest to try manually restarting the client like so:
[code]

That said, on my setup, I wasn't able to reproduce that error.

[2017-04-29 10:23] #11 closed

[2017-06-02 05:25] Seratna opened #12 "orderbook validity"
Hi nlsdfnbch,

Hope you are well.
I have been working on the python API implementation of several exchanges. But recently I ran into some trouble with exchanges like Bitfinex and Gemini. The problem is that when we try to maintain a real-time order book, we need all the messages and we need them in correct order. But websocket client sometimes could miss messages or receive out-of-order messages.

[2017-06-02 09:40] nlsdfnbch commented on #12
Hey there,
great to hear there's someone else working on the same problem (I'm working on [a framework for a cross-platform API for bitcoin exchanges](https://github.com/nlsdfnbch/bitex) ).

I've ran into this issue as well - however, for both exchanges there is a solution available:

Bitfinex offers a configuration endpoint (for `v2` of the WebSocket API). This allows you to enable sequencing, he

[2017-06-02 17:10] Seratna commented on #12
Hi Nils,

Thank you so much for your kind reply.
It is true that timestamp and event_id can help verify the order of the messages, but they still cannot tell dropped (missing) messages. GDAX does not have such problem because the sequence number is increased by 1 at each step. But timestamp and event_id do not offer such property. Any suggestions for identify missing messages?
BTW your cross-platf

[2017-06-02 17:51] nlsdfnbch commented on #12
Thanks, I'm glad you appreciate it! It still needs a lot of work, but I'm getting there.

The only approach would be cross-referencing your built order book via a REST API query to the order book endpoint - however, this requires a server-side timestamp on the book, which isn't alway present unfortunately. You would then have to check a snapshot of your built order book - which would have to refle

[2017-06-02 18:12] Seratna commented on #12
Thanks Nils,

I guess cross-referencing is the best we could do now.
Currently we I did is to have a hash function to hash the local order book and store 50 hashed result as my order book history, and compare the hashed result of REST order book snap shot. If there's a discrepancy, I restart the websocket.
Regarding GDAX, I currently run it 24/7 and every one or two days I would have a out-of-orde

[2017-06-02 19:00] nlsdfnbch commented on #12
keeping the last 50 hashes seems excessive, no ?
Afterall, once you notice it's out of place, all you would have to do is add all new messages older then the correct snapshot's time stamp. That way, you'd only ever have to keep, say, 1 snapshot and messages for the past 30 seconds or whatever request lag you have  for the REST API (plus some buffer).

So, in Pseudo code this would be..
[code]
Of c

[2017-06-02 19:08] Seratna commented on #12
Thank you very much!
I will have a look

[2017-07-09 18:30] Serpens66 commented on #12
How about writing to every exchange, that they should offer an optional ws orderbook, like the one from therocktrading:
https://api.therocktrading.com/doc/#api-websocket
"Get first 20 orderbook rows on order book changes".

This way you always have best 20 bids/asks without any problems. And usually this is enough to trade.
I already wrote to alot of exchanges, that they should add such a thing, b

[2017-07-10 09:52] nlsdfnbch commented on #12
What would be the point of that? You can get an order book from the REST API, or if you want it real-time you should build it yourself. Having a WS endpoint for this sort of thing does not make much sense to me.

[2017-07-10 13:41] Serpens66 commented on #12
so I assume you are not a trader?
I always need the latest ~20 bids asks to see if there is a good trading opportunity.
Most exchanges, like bitfinex have very low REST api call limit. If you want to trade every currency pair, it is just impossible to always make the REST API call, to stay up to date with the orderbooks.
I do not need the whole orderbook, just ~best 20. And for this it is the perf

[2017-07-10 16:13] Seratna commented on #12
@Serpens66 while this could be something nice to have, it is hard for the exchange to actually implement it. Some trader need best 20 bids asks, some need 100; for less liquid coins, some may need 200. That's why exchanges offer the whole L2 book.

@nlsdfnbch Hi Nils, I tried the Bitfinex websocket v2 with sequencing and it worked. And Gemini told me they are adding sequencing to the API but no ET

[2017-07-11 09:20] nlsdfnbch commented on #12
@Serpens66 Well, but how would you request it? A wss channel that broadcasts the top 20 on every order book change ? You essentially have that already, by building your own order book. It would simply be a convenience method, so I can understand that this is a low priority for API devs.

@Seratna , thanks for the update!

[2017-07-11 14:17] Serpens66 commented on #12
yes, that is how it works at therocktrading.

The problem with update-orderbook is, that it is inconsistent after minutes/hours (I do a bid>ask test to find out).  This happens for GDAX and Bitstamp quite often, although I already update the orderbook with REST API every 1 hour.  With Cex ws this problem is only very rare, so it is the only exchange I use the realtime orderbook.
Therefore I even d

[2017-07-11 18:19] Seratna commented on #12
@Serpens66  To (efficiently) get the bid/ask or the ordered prices from the order book, you need store the order book in a self-balancing tree (AVL tree or red-black tree) or in a priority queue. I am using priority queue. I am doing some final test on the implementations and I will share the code when it is finished.

[2017-07-12 08:09] nlsdfnbch commented on #12
@Serpens66 , have a look [here](https://github.com/nlsdfnbch/bitfinex_wss/blob/master/btfxwss/classes.py). The `Orders` Class is what takes care of sorting the keys.

@Seratna , that's an interesting approach! Please do share- I'd love to implement it into this project if it provides better performance than my `dict`-based approach.

[2017-07-12 18:51] Seratna commented on #12
@Serpens66 @nlsdfnbch Here's my code of a working implementation of the GDAX API.
[https://github.com/Seratna/GDAX-python](url)
You put in the API key, secret and passphrase, you should be able to run it. The order book was built on top of a priority queue and a dict. Updates of the order book can be done in O(lgn) time and getting the actual bid/ask can be done in O(1). (my system only needs the

[2017-07-13 07:18] nlsdfnbch commented on #12
@Seratna , have you compared its performance ? And how do you get the largest item from your book? I only see a `heappop()` call, which should return the smallest item on the heap, no?

Also, if you discard out-of-order messages, shouldnt you also request a new book? Afterall, you would have to keep a history of your messages and rebuild the orderbook with the new out-of-order message in the corre

[2017-07-13 07:57] Seratna commented on #12
@nlsdfnbch ,
1. Regarding the performance, there's a significant improvement especially for large books, for example the order book (L3) of GDAX. Because priority queue takes O(lgn), sorting the dict takes O(nlgn), and iterating over the dict (for example max()) takes O(n).
One priority queue is used for bids and another one for asks. keys of the asks are prices, and keys of bids are negative pric

[2017-07-13 21:16] Serpens66 opened #14 "python 3.4 compatibility?"
Hi :)

for what python version is your code?
It seems 3.4 is not supported, I get:

    entry = (*data, ts,)
                    ^
SyntaxError: can use starred expression only as assignment target

Searching for this error shows that this is something that was fixed in 3.5, but not in 3.4.
What would be the 3.4 equivalent of it?

edit:
And a question: How exactly and where is the data stored? From

[2017-07-13 23:26] Serpens66 opened #15 "automatic restart when no heartbeat?"
After few minutes I get the message:
WARNING:__main__:BtfxWss.heartbeats: Channel ('book', {'freq': 'F0', 'prec': 'P0', 'pair': 'BTCUSD', 'symbol': 'tBTCUSD'}) hasn't sent a heartbeat in 10.06259298324585 seconds!

And the orderbook does not update anymore.

Maybe implement an automate restart?

And can you imagine why I get this error? I started it two times, but both times after ~5 minutes I got

[2017-07-14 08:05] nlsdfnbch commented on #14
The lib is developed for 3.5+, yes.
The equivalent for the above entry would be:
`entry = tuple(data + [ts])`

A file should only be created if you use the `BtfxWssRaw` class - this subclass dumps all data as is onto the disk.
If you use the `BtfxWss` class, data should be stored in the class's attributes: `tickers`, `books`, `raw_books`, `_trades`, and `candles`.

There are, however, a crap ton o

[2017-07-14 08:08] nlsdfnbch commented on #15
Thanks for reporting this!

I have actually fixed this, but it wasn't committed it yet - the thing is, I'm not entirely sure where this originates from and currently it may happen that the API bans you (since you're only allowed 6 requests per minutes, i.e. 6 connection attempts). Since I didn't want people getting temporarily banned because of my code I havent added this fix.

Rest assured I'm lo

[2017-07-14 10:03] #14 closed

[2017-07-14 15:09] nlsdfnbch commented on #15
I've pushed version 1.0 - it's quite different from the existing code and layout, but if you'd like to can see if the problem remains - It's 3.5+ though

[2017-07-17 18:25] rjarbour opened #16 "wss.candles(pair, timeframe) adds timeframe to key..."
`wss.subscribe_to_candles('BTCUSD', '1m')`
leads to
`defaultdict(<class 'queue.Queue'>, {('candles', 'BTCUSD'): <queue.Queue object at 0x000002749A73E208>})`
calling
`wss.candles('BTCUSD', '1m')`
leads to a key of
`('candles', 'BTCUSD', '1m')`
which does not match the queue's key...

[2017-07-18 05:20] nlsdfnbch commented on #16
Hello!
What parameters did you use to subscribe to `candles` ? Could you provide a minimal code example to reproduce this issue?

Have a look at the [CONTRIBUTING.md](https://github.com/nlsdfnbch/btfxwss/blob/master/CONTRIBUTING.MD) to make it easier for us to fix issues.

Thanks for your contribution!

[2017-07-18 09:59] #16 closed

[2017-07-21 01:11] jonathanworkshard opened #17 "Authenticated channels? (specifically trade)"
First off, thank you so much for creating such an amazing and useful program - This has been enormously useful and an amazing resource.

I see that you noted that authenticated channels are a work in progress - what stage of development are they currently and is it possible to place orders with the current code?

[2017-07-21 10:47] nlsdfnbch commented on #17
There you go :)

They're on the `dev` branch for now, since I wasn't able to test them yet - but feel free to give them a try!

[2017-07-25 07:54] ntom commented on #15
Hey Nils thanks for pushing this though i just found this library im going to explore it and have a play over the next few days, looks good

[2017-07-25 07:55] ntom commented on #17
Thanks nils i'll check the dev branch

[2017-07-28 16:12] #15 closed

[2017-07-28 16:13] nlsdfnbch commented on #10
fixed in `1.0`

[2017-07-28 16:13] #10 closed

[2017-07-28 16:13] #6 closed

[2017-07-28 16:14] nlsdfnbch commented on #3
supported in `1.0`

[2017-07-28 16:14] #3 closed

[2017-07-28 16:14] #5 closed

[2017-07-28 16:15] #4 closed

[2017-07-28 16:15] #8 closed

[2017-07-28 16:16] #17 closed

[2017-08-05 06:02] rafaelcapucho opened #18 "Error during instalation, README not found"
Hi, I'm getting this, thanks.

[code]

The last version, download here directly seems to install, could you update the package on pypi if possible?

[code]

[2017-08-05 06:23] nlsdfnbch commented on #18
Hey Rafael!

Absolutely!  I'll fix this today.  Thank you for reporting!

Cheers,

Nils

[2017-08-05 06:26] rafaelcapucho opened #19 "Error "cafile, capath and cadata cannot be all omitted""
When running this:

[code]

I got these:
[code]

Log:
[code]

might it be related to https://github.com/websocket-client/websocket-client/issues/227 ?

Thx.

[2017-08-05 06:33] nlsdfnbch commented on #19
The attribute error stems from the fact that I haven't updated the sample (thanks for reporting that :D)  ; it should be tickers, not ticker.  See if you can connect using that!  :)
Keep the issues coming! They're much appreciated!

[2017-08-05 06:42] rafaelcapucho commented on #19
Thx for your fast answer!

I changed it to `tickers` but seems like it its a connection problem with the WS, the logs remains the same:

[code]

And seems like the `self.queue_processor.tickers` is empty because the pair BTCUSD wasn't found:

[code]

results in:
[code]

[2017-08-05 08:09] nlsdfnbch commented on #18
I *may* have fixed this issue - the problem was that setup.py in the distributed package wanted to open the readme, which isn't packaged along with it. I've fixed this with a dirty workaround.  Mainly because I just got out of bed and didn't stop to think about how this issue would be resolved with a simple entry in a setup.cfg file (I blame the lack of coffee).

Anyway, it works for me now (but s

[2017-08-05 08:20] nlsdfnbch commented on #19
I have pushed a hotfix for this (1.0.3) - could you verify this works for you?
By the way, I confused my own examples in the previous comments.
`tickers` doesn't subscribe anymore. You need to call `subscribe_to_ticker('BTCUSD)`.

[2017-08-05 08:30] nlsdfnbch opened #20 "Add state to Connection object"
Currently, if the Connection hasn't been established yet, a
`websocket._exceptions.WebSocketConnectionClosedException` is thrown and the program crashes. Instead, this should be handled gracefully:

Either Prevent calls to the API while the Connection is still attempting to connect

Or

Return a False value or similar to indicate failure.

[2017-08-05 08:35] nlsdfnbch opened #21 "Write Tests to avoid Deployment Fuck-uppery"
As detected by @rafaelcapucho in issue #18, there has been an error on pip install since the last release. Furthermore several other issues were raised, which shouldn't happen.

Therefore, basic testing should be deployed to keep shit from hitting the fan for each release.

- [ ] AssertEach Endpoint subscribes and returns Data
- [ ] Assert pip install does not fail
- [ ] Assert Authentification wo

[2017-08-05 08:55] nlsdfnbch commented on #19
Also, could you verify that this doesn't happen with the `dev` branch version ?

[2017-08-05 09:48] nlsdfnbch commented on #20
Fixed in [4c0fe739c339c4baa3bc35a9eedb1231f5689837](https://github.com/nlsdfnbch/btfxwss/commit/4c0fe739c339c4baa3bc35a9eedb1231f5689837)

[2017-08-05 09:48] #20 closed

[2017-08-05 14:57] rafaelcapucho commented on #19
Thanks for your patch, I'm testing with this sample:
[code]

On your **master** version, `1.0.3` it returns:

[code]

[code]

On **Dev** version:
[code]

[code]

[2017-08-05 15:03] rafaelcapucho commented on #18
Working perfectly, thx.

[code]

[2017-08-05 15:03] #18 closed

[2017-08-05 15:59] nlsdfnbch commented on #19
see if it works now - I'm now getting the default path for the certificates via the ssl module, that should take care of it. Otherwise I have to look at this in depth tomorrow.

[2017-08-05 19:33] rafaelcapucho commented on #19
Tested on **dev**! It seems to be working!, at least it is returning data.

`$ python3 main.py`
[code]
Thank you for your effort/time, I will now see how could I add/cancel **margin funding** operations with your API.

[2017-08-05 19:42] nlsdfnbch commented on #19
Excellent, glad to hear it's fixed!

[2017-08-05 19:42] #19 closed

[2017-08-17 12:56] toert opened #22 "I try to create new order but nothing happens"
I run this code:

And the order isn't created. How can I create new order using btfxwss?

[2017-08-17 16:19] nlsdfnbch commented on #22
Hey @toert!
Thanks for submitting this issue.

Your code looks fine. Sorry that it doesn't run as it should :( But no worries, I'll have a look!

I need a few more details to help you out with this issue:

 1. Can you confirm that authentication works? Are there any errors raised or logged?
 2. Confirm that you are receiving data on the other authenticated channels (as a reference, check [this fil

[2017-08-17 16:55] toert commented on #22
Actually my CEO said that I have to make a script faster and I deleted all my strings of code and start using v1 directly(without libraries, just requests). However I have logged all requests with your library and it's attached.

[2017-08-18 07:58] nlsdfnbch commented on #22
You're supposed to use the REST API to make things faster? That's an odd thing to say, but alright - good luck with your efforts :)

This appears like you're either calling `start` and `stop` alot, or the connection times out. Also, all calls to `order/new/` appear to have invalid request parameters (`Status 400` is a `BAD REQUEST`). So I will need more information about how you call the API, and

[2017-08-18 08:00] nlsdfnbch opened #23 "DEBUG mode requires more detailed DEBUG messages"
as can be seen in #22 , the debug log calls in the code aren't helpful - which isn't surprising, since the code barely has any log calls.

[2017-08-18 10:17] nlsdfnbch commented on #23
fixed in `1.1.1`

[2017-08-18 10:17] #23 closed

[2017-08-20 19:16] FelipeSBonetto opened #24 "Can't get orders, positions or wallets"
Hi,
I can place orders fine but the code:
`wss = BtfxWss(key, secret)`
`wss.start()`
`wss.authenticate()`
`wss.orders.empty()`

Always returns True, how can I get my orders, positions and wallets using btfxwss?

[2017-08-21 18:25] ntom opened #25 "websocket._exceptions.WebSocketConnectionClosedException: socket is already closed."
I setup the script collecting some candles,

After chewing through around 6700 candles worth of data... I got this error..

`2017-08-21 12:18:16,802 -- INFO -- connection 179 -- Connection Error - Connection is already closed.`

I got quite a few of these..

[code]

a few of these ...

[code]

And a few of these...
[code]

Ultimately the script after 2 hours of trying produced ..

[code]

[2017-08-21 18:55] nlsdfnbch commented on #25
Hey @ntom!
Code 5xx are server-side issues, which usually indicate that the API is currently not working properly. Code 302 depends a bit on Bitfinex - this may either be a Redirect, in which case I believe the `websocket` library wouldve taken care of that. That means that perhaps Bitfiex uses a 302 in place of a  303, which means that the URI we request (for logging in to the websocket) moved.
I

[2017-08-21 19:00] nlsdfnbch commented on #24
Hey @FelipeSBonetto and thanks for reporting this issue!
I need a few more details to help you out:

 1. Can you confirm that authentication works? Are there any errors raised or logged?
 2. Confirm that you are receiving data on the other authenticated channels (as a reference, check [this file](https://github.com/nlsdfnbch/btfxwss/blob/master/btfxwss/client.py), starting at line 58, to see what

[2017-08-22 19:06] alexeykarnachev opened #26 "Nonce small"
Hi
After wss.authenticate() I got the following traceback:

DEBUG:btfxwss.connection:_on_message(): Received new message {"event":"auth","status":"FAILED","chanId":0,"code":10114,"msg":"nonce: small"} at 1503428552.745091
DEBUG:btfxwss.connection:_system_handler(): Received a system message: {'chanId': 0, 'msg': 'nonce: small', 'event': 'auth', 'code': 10114, 'status': 'FAILED'}
DEBUG:btfxwss.conn

[2017-08-23 09:16] nlsdfnbch commented on #26
That's odd - were you able to reproduce this issue constantly, or sporadically? I've never had an issue with it before.
Thanks for reporting!

[2017-08-23 09:23] nlsdfnbch commented on #25
Does this issue persist for you?

[2017-08-23 09:50] alexeykarnachev commented on #26
It's a time to time behavior. Now I've changed back the multiplier to 1000 and it works. I think the problem was on the client side. Maybe I've sent more than one requests with the same nonce, but it's strange

[2017-08-23 11:55] alexeykarnachev opened #27 "Multi threading"
Hi,
I'm newbie in multi threading and I want to achieve the behavior of the parallel channels processing in one class (with common fields). But when I use the common BtfxWss in different threads I get the following:

File "c:\python35\Lib\multiprocessing\process.py", line 105, in start
    self._popen = self._Popen(self)
  File "c:\python35\Lib\multiprocessing\context.py", line 212, in _Popen

[2017-08-23 15:38] nlsdfnbch commented on #27
Let's see if I understand you correctly:
You'd like to process the data that arrives in the btfxwss class in a parallel way, meaning simultaneously, correct?
In that case you'll only need a single btfxwss class. Then,  start a Process (from the multiprocessing module) and give it a function that pulls data from the btfxwss properties and processes it.

[2017-08-23 15:41] nlsdfnbch commented on #26
It may be indeed that you sent out several requests within one second,  since the nonce converts the timestamp to an integer first. This could only be avoided by some form of queuing for request calls. I'll have a look at it.

[2017-08-23 16:15] alexeykarnachev commented on #27
Yes, you are right, that is exactly what i want.

I've tried the following:

import time
from multiprocessing import Process
from btfxwss import BtfxWss

key = 'abc'
secret = 'abc'
pair = 'BCHUSD'

def process_order_book(raw_books):
    while True:
        raw_orders = raw_books.get()
        print(raw_orders)

if __name__ == '__main__':
    wss = BtfxWss(key=key, secret=secret, log_level='DEBUG')

[2017-08-23 16:43] alexeykarnachev commented on #27
UPD:

Ok, I got it.
After using multithreading, but NOT multiprocessing all works fine.
I think it's because of that the BtfxWss (and its properties) are not so easy serialazable and Python can not share objects between processes. But threads have the same memory space, that's why threads work:

[code]

[2017-08-23 18:25] FelipeSBonetto commented on #24
I have a sense that I'm doing something fundamentaly wrong, because I can actually see my balance in the log file. Probably I just don't know how to use the functions.

I'll be happy to help you write a documentation for this code.

[btfxwss.txt](https://github.com/nlsdfnbch/btfxwss/files/1246536/btfxwss.txt)

PS.: I saw in other forks a function to see Bids and Offers out of the Order Book. Have

[2017-08-23 22:52] alexeykarnachev opened #28 "Auth handler"
Hi
It looks like QueueProcessor has no auth handler, is it so? And does it mean, that currently I can not obtain auth data: my open orders, wallet and so on?

[2017-08-24 09:43] nlsdfnbch commented on #28
Not quite - the handler for data which is received after authenticating is handled by the `_handle_account()` method, but this was indeed not yet called in the main routine of the queue processor. I've added it now - however, I cannot currently test it, since Im on vacation.
Perhaps you could confirm it does ?

[2017-08-24 09:48] nlsdfnbch commented on #27
Well, the issue with using the `threading` module is that it doesn't actually process data in a parallel manner.
I could make use of `multiprocessing.Queue` instead of `queue.Queue` in a future release, that way you can pass the `Queue` object accessed via the properties to truly parallel processes. Otherwise, I'm not convinced you'd gain much from using threading in this context.
But do let me kn

[2017-08-24 10:02] alexeykarnachev commented on #28
Yes, sure I can test it.
How can I achieve this? Should you commit version with _handle_account() in main queue processor routine and then I'll test it? Or should I add this handling by myself?

[2017-08-24 10:09] nlsdfnbch commented on #24
Hey @FelipeSBonetto ,
So it turns out that I hadn't implemented the `_handle_account()` method in the main routine of `QueueProcessor` (#28), which is what you can see in the logs (it logs errors for all messages from channel id `0`). I fixed this in my last commit, so give it another try and let me know if this works now - im on vacation atm, and can't verify it myself.

As for the bids and offer

[2017-08-24 10:10] alexeykarnachev commented on #27
I've spent some time yesterday to understand the difference between processes and threads and yes, you are right, it'll be not so much odds using a threads.
And I think, multiprocessing queues will be a really great feature =)

[2017-08-24 16:32] alexeykarnachev commented on #28
Ok, what I've realized at this moment:

1.
_handle_account(self, dtype, data, ts) method has dtype argument, but in main queue processor routine it is called only with two arguments. dtype actually is not using now, so for my debug purposes I just removed this argument from method

2.
some channels need to be added into self.account_channel_names dict.
For example, when I want to receive my new or

[2017-08-24 18:29] nlsdfnbch commented on #28
Yes, that's spot on.
And removing the `dtype` parameter is the way to go - it's not needed, and thus should have been removed by me anyway.
Don't forget to submit a pull request if you've managed to fix it!
Appreciate the help!

[2017-08-25 08:33] alexeykarnachev commented on #28
Hi
Just tried to do a pull request in dev branch, but it's failed with error code 403:

Push failed: unable to access 'https://github.com/nlsdfnbch/btfxwss.git/': The requested URL returned error: 403

I'm trying to do it within Pycharm. What am I doing wrong?

[2017-08-25 08:57] dzhlovegithub opened #29 "connection time out"
can you help me with problem of connection timeout, it does not connect to server, and can not get any data except pong message!

[2017-08-25 13:33] jcranney commented on #28
pull request #30 seems to have fixed it. Cheers @alexeykarnachev

[2017-08-25 18:17] FelipeSBonetto commented on #24
Hello @nlsdfnbch, thanks for your reply!

I tried to run this code:
`wss.wallets.get()`
but got:
_handle_account() missing 1 required positional argument: 'ts'

Not shure if it's a bug or if it's me. Tried to look for some clues on the code but couldn't figure it out

[2017-08-26 09:29] nlsdfnbch commented on #24
That issue should be handled now - PR #30 is now merged into dev, so if you use the `dev` branch it should now work for you!
I'll update the pypi release once i'm back from vacation.
Thanks for your help!

[2017-08-26 09:29] #24 closed

[2017-08-26 09:31] #28 closed

[2017-08-26 09:33] nlsdfnbch commented on #29
Hey @dzhlovegithub and thanks for submitting an Issue!
In order to help you out I'll need a few more details:
1. What does your code look like?
2. Provide the log calls after you ran your code.
To provide the log calls, simply upload the log file. To enable logging to file, add the following code:
[code]
Thanks!

[2017-08-27 13:44] 8ick commented on #29
Hello @nlsdfnbch,

I may have a related problem, when trying to establish a long-running websocket connection. I'm not sure if it is intentional or not, but at the moment it seems that the client does not resubscribe to the same channels it was connected to before a timeout or disconnect happened. No subscribed channel leads to endless reconnects due to timeouts. Is this behavior intended or do yo

[2017-08-27 19:11] ArthurJ opened #32 "Queue or LifoQueue"
It would be nice to have a LifoQueue ticker to get always the most recent information.

[2017-08-28 17:19] alexeykarnachev commented on #32
Such approach would cause the memory error because you need to do something with the rest part of messages in queue (not only with the last one)

[2017-08-28 18:08] ArthurJ commented on #32
Yeah, that's what I did. The loop is not a problem.
`[ticker_q.get() for _ in range(ticker_q.qsize())][-1]`

The fixed size is necessary indeed, this implementation seems to be useful to client programmers that need the N most recent tickers.

[2017-08-28 18:10] nlsdfnbch commented on #32
I have thought about a `LIFO` queue as well, however, at this point the library is intentionally rather bare bones. It would technically be no problem to implement this yourself - simply call `get()` on the Queue and fill it into a `deque` which then allows you to keep a history of the past X ticks of ticker data.

[2017-08-28 18:16] nlsdfnbch commented on #29
Hey @8ick and thanks for reaching out!
It is true that the client does not automatically re-subscribe to channels if the connection drops. This was implemented in early versions, but continuously led to unexpected behaviour and errors.
However, it is certainly on the to-do list. Unfortunately I cannot give you an exact ETA for it - at the very earliest I will be able to give it a shot in roughly t

[2017-08-28 18:19] nlsdfnbch opened #33 "Re-Subscribe to channels after Connection Time-Out"
As pointed out by @8ick in #29:

This should be handled properly.

[2017-08-28 18:30] nlsdfnbch commented on #26
I just added your fix from above. I don't know why I didn't before, adding a queue for request calls is utter nonesense 😃 , That's what happens when you try to work in vacation mode.

[2017-08-29 09:26] 8ick commented on #29
@nlsdfnbch
Do you have a recommendation how to catch a reconnect at the moment? I used a timer and tried re-subscribing if no new data was received in the last 120s or so, but from what I have seen in the newest version, the client does not tell/return if the subscription was sucessful or not.

Anyway, thanks a lot for your work here.

[2017-08-29 09:42] nlsdfnbch commented on #29
It should tell you - in `queue_processor.py` at  line 134, the `_handle_subscribed()` method should be doing this. Perhaps you need to enable logging to `stdout`?

As far as the temporary fix goes, you can try to handle this yourself, but it will require some programming:

in `connection.py`, line 316, the method `_system_handler()`takes care of re-issuing a connection. In this method you'll have

[2017-08-29 09:44] #12 closed

[2017-08-29 09:45] nlsdfnbch commented on #22
No Response after 11 days, closing..

[2017-08-29 09:45] #22 closed

[2017-08-29 09:45] #26 closed

[2017-08-29 10:16] alexeykarnachev commented on #22
I had the same issue. It was fixed by adding sleep for 3 seconds after authentication =)

[2017-08-29 12:47] nlsdfnbch commented on #25
possibly related to #33

[2017-08-29 13:28] nlsdfnbch commented on #33
@8ick, I've added a handler for this on dev - would you be willing to give a test spin? I found some time afterall to implement it.

[2017-08-29 14:03] 8ick commented on #33
@nlsdfnbch, gave it a try, unfortunately on reconnect it seems to get stuck in an endless loop, sending subscriptions forever:

[code]

[2017-08-29 14:27] nlsdfnbch commented on #33
Ah, yes. I see the issue. I've patched it. Unfortunately I still cant test it from this end (vacation and all), so perhaps give this another try?
Thank you for your help!

[2017-08-29 16:18] nlsdfnbch commented on #33
Great! Thanks for testing this so quickly.

[2017-08-29 16:18] #33 closed

[2017-08-30 16:54] FelipeSBonetto opened #34 "Problem spotted getting Wallet balance for second time"
Hello,
There is a problem with this code:
[code]
## Actual Results
First loop iteration: Revice correct wallet balance
Every other loop iteration, even after the balance change on BitFinex site: "No wallet update recived"

## Expected Results
Well, the wallet should receive an update when it is changed

** EDIT**
So, basically no post request is being done to get the new wallet balance.
As @nlsdfn

[2017-08-30 17:16] FelipeSBonetto commented on #34
I think post requests are done by using the `_send_auth_command(self, channel_name, data):`, I'm i right?
But I'm not entirely sure how to request a wallet update, or any other account information.

[2017-08-30 17:23] nlsdfnbch commented on #34
Hey @FelipeSBonetto !
Firstly, I want to avoid confusion about what's supposed to be going on:
After connecting to the API, you send a single request for account data (which you do with `authenticate()`), afterwards, no more requests are sent - that is the nature of a `Websocket` connection - you request a channel, and any updates are sent automatically, as the change happens on the server side.

[2017-08-30 17:51] FelipeSBonetto commented on #34
Hellow @nlsdfnbch, again thank you for your kind and fast reply :1st_place_medal:
Oh, I'm sorry for the confusion I'm new to this web-socket concept.
Here is the log, I could spot on the last lines a 'wu' event, is this a wallet update?
Even if it is, the client din't show the update on the screen.

[btfxwss.txt](https://github.com/nlsdfnbch/btfxwss/files/1264557/btfxwss.txt)

[2017-08-30 18:27] nlsdfnbch commented on #34
Yup, in the line right after it you can see the problem:
[code]
Hence, we need to implement that. I'll have a look at it!

[2017-08-30 18:31] nlsdfnbch commented on #34
If I'm not mistaken, the last commit should take care of it. Could you verify that?

[2017-08-30 18:44] FelipeSBonetto commented on #34
It sure did!
Blazing fast fix, wallets are updating now.
Thanks a lot!
Until next time!

[2017-08-31 09:12] #34 closed

[2017-09-04 20:03] lucasb-eyer opened #37 "Relationship to nlsdfnbch/bitex?"
Hi, after stalking you a little, I noticed your other project nlsdfnbch/bitex. It seems to be, or at least become a superset of this one. What are your plans? Why not link to the other one in the README? Anyways, thanks for both projects!

Cheers!

[2017-09-04 20:36] nlsdfnbch commented on #37
Hehe ;D bitex started out as a REST API framework and starting with 2.0 will be purely REST again (i had added websocket clients at some point,  but couldn't figure out a good way to standardise them then).

Btfxwss is a websocket client and thus doesn't fit the framework.

I'm keeping it separate,  because I have not yet found a good way to refactoring websocket connections for other exchanges. T

[2017-09-04 22:18] lucasb-eyer commented on #37
Thanks for the clarification, it makes a lot of sense. Closing this issue, as it's not really an issue.

[2017-09-04 22:18] #37 closed

[2017-09-07 20:09] Leobouloc opened #38 "Minor issue with example in the README"
`wss.conn.wait():` --> this line is not valid in python

Also, I would suggest adding the imports of the required standard libraries so that a simple copy/paste is enough to run the code:
[code]

[2017-09-07 20:13] Leobouloc opened #39 "Error in Readme example execution"
I get the following error when running the example in the README:
[code]
If I replace this line by a `time.sleep(60)`, i get the following error:

[code]

Any ideas ?

[2017-09-07 21:57] 8ick commented on #39
[code]

Hey, 60s is way too long, you probably have a timeout before you even try to subscribe. Those two lines achieve what is actually intended.

[2017-09-08 07:02] #38 closed

[2017-09-08 10:14] Closius opened #40 "Candles fetch error"
I'm trying to fetch candles with timeframe more than 1m.
`wss.candles(pair="BTCUSD", timeframe="15m")`

With '1m' its ok, but if I try to use other timeframes like "15m" I have an Error:

`Traceback (most recent call last):
  File "main.py", line 192, in <module>
    candles[kind]['queue'] = wss.candles(pair=PAIR, timeframe=kind)
  File "/Users/anton/anaconda/lib/python3.5/site-packages/btfxwss/cl

[2017-09-08 10:20] Closius commented on #40
My mistake. I have to subscribe to channel first with timeframe
`wss.subscribe_to_candles(PAIR, timeframe=kind)`

[2017-09-08 10:20] #40 closed

[2017-09-08 23:34] ntom commented on #25
Hi @nlsdfnbch thanks for the reply sorry I minssed it . .  Yes i can see now how this is server side thanks for the update.

[2017-09-08 23:34] #25 closed

[2017-09-08 23:43] ntom opened #42 "Once connection is broken it won't reconnect"
Hi,

I have this issue where by once a connection is broken (Restarted Bitfinex end or cloudflare error or something)... the connection is closed.. it trys reconnecting.. over and over again.. endlessly.. but never does.... just waits 10 seconds then connection closed then retrys.. over and over....

IF I kill the script then restart it it reconnects fine and works up until the next time it dies f

[2017-09-09 08:24] nlsdfnbch commented on #42
Hey @ntom!

This issue is due to the fact that the client doesn't resubscribe after a connection breaks. This issue should be fixed in `dev`. Could you verify you're using the master branch?

[2017-09-09 08:27] ntom commented on #42
I am using the dev branch but i will update to the newest version now and see how it goes. Thanks. Great library btw. I looked into coding my own, found yours, then dissected it to see if it was any good and got half way through and thought 'shit this thing is perfect, so good' - lol

[2017-09-09 08:33] ntom commented on #42
Okay I just pulled the latest dev branch, i'll close this ticket now and maybe add in comments to #33 if i have the issue again. Thanks for the fast response.

[2017-09-09 08:33] #42 closed

[2017-09-09 21:21] rterbush commented on #39
PR #43 fixes this.

[2017-09-10 09:46] ntom opened #44 "websocket._exceptions.WebSocketConnectionClosedException: socket is already closed."
After updating to the latest dev branch, after about 2 days of running i got this error...

[code]

[2017-09-10 09:54] ntom commented on #44
I just rerun and not long after i got this again...

[code]

I think it would be better if after it gets these errors the script actually dies... because otherwise u check if its running and its still running, its just dead inside.. where as if the script actually exited and died properly.. you could at least be notified about its death...

[2017-09-10 10:45] ntom commented on #44
Failed another 2 times in the last hour again...

[2017-09-10 11:03] nlsdfnbch commented on #44
This is now handled and logged. Killing it entirely shouldn't be necessary. The websocket app reconnects automatically and does do so pretty reliably.

[2017-09-10 11:27] ntom commented on #44
Thanks, will repull now

[2017-09-10 11:36] ntom commented on #44
You pushed this onto master or dev ? I repulled dev and it just happened again. ..

[2017-09-10 11:47] ntom commented on #44
Reason for death

[code]

[2017-09-10 12:03] ntom commented on #44
fml if i know how to send you a pull request...

[2017-09-10 12:14] ntom commented on #44
Okay So i just got the error come up:

`2017-09-10 13:09:04,497 -- ERROR -- connection 235 -- send(): Did not send ping - client not connected.`

This is cool, but the script still continues to hang at this point and do nothing from here on in...

[2017-09-10 13:01] ntom commented on #44
Trying a little:

[code]

will keep here updated.
I did try just 'reconnect()' but it didn't do anything so now put in the disconnect first.. try and make sure stuff is cleared maybe...

[2017-09-10 13:14] nlsdfnbch commented on #44
That's odd. :/ hm.
When you say it "hangs", is that reflected in the logs? So is there literally nothing happening after that or is it stuck in a reconnect loop?

Could you post the logs so I can have a look?

[2017-09-10 13:21] ntom commented on #44
"hangs" as in, once it posts the above message... that's it... doesn't to do anything, i can't repaste the message right now because i just restarted it, maybe take some time before it does it again... but it basically reads like...
`
..getting data....
..getting data...
 2017-09-10 14:06:10,348 -- ERROR -- connection 235 -- send(): Did not send out ping - client not connected.
`
and thats it.. it

[2017-09-10 16:24] ntom commented on #44
See picture of how the script looks... - https://imgur.com/a/jm0XZ
IT is literally just hanging like that not forever basically..

I tell you what did work for me though, sticking the "_connect()" function underneath it - but something is clearly wrong because it disconnects and reconnects every 5-10mins.

[2017-09-10 17:24] fredbeltrao opened #46 "Test for initial connection state should be inside BtfxWss.start()"
This snippet of code at Usage section in README.md

[code]

Should be inside BtfxWss.start():

[code]
This would avoid end user to care about this.

[2017-09-11 17:18] nlsdfnbch commented on #46
This is taken care of by the client already- calling a a subscribe method on an unestablished connection causes the `@is_connected` decorator to issue an Error log.  That way the client doesn't freeze the application if no connection can be established.

[2017-09-11 17:18] #46 closed

[2017-09-11 23:40] ntom commented on #44
It''s been a few days and i'm going to close this issue...
Incase anyone else has this problem, i solved it by just adding the _connect() function after the ping fails..

[code]

[2017-09-12 00:45] rafaelcapucho commented on #33
Hello @nlsdfnbch .

Sorry to reopen this, I did it just to send you a message, instead of open a new issue.

I just would like to suggest you to release a new version on `pip` with all devs changes. There are many important bugfixes like this one that make a big difference :)

I have a bot running and I often face the connection problem, but it seems to be working well with the changes from `dev`.

[2017-09-12 07:25] nlsdfnbch commented on #33
Hey @rafaelcapucho!
Next time,  do not hesitate to open a new issue for this - they're free of charge and help me stay organised ;)
I have a release planned for the coming weeks,  but I'm currently not able to make time to deploy it to pypi. But rest assured, a release is coming!

[2017-09-12 07:29] nlsdfnbch commented on #44
Hey @ntom  ,
Please don't close issues to which I don't respond immediately - I work on this project in my free time and don't always have the time to provide a fix as soon as an issue is opened (although I try to). Closing this issue only removes it from my to do list,  but since this obviously persists, it shouldn't be closed.
Thanks again for reporting! If possible, provide a log file of your f

[2017-09-12 07:30] nlsdfnbch opened #47 "Deploy dev to pypi"
Release current dev branch to pypi.

[2017-09-12 08:50] ntom commented on #44
Hey @nlsdfnbch,
I only closed it because i thought maybe it was some local issue since no one else is experiencing it....

What do you mean by,  "If possible, provide a log file of your fixed implementation"  ?

There is no log to report back on, as soon as the connection dies with ""send(): Did not send out ping - client not connected. "" .. then it just reconnects..  as per my code i stuck in th

[2017-09-12 17:24] nlsdfnbch commented on #44
lol, well you're not entirely wrong - but not because it's ugly, but because it doesn't truly fix the issue (whatever it may be).

It may be possible that it is a local problem, but as long as we're not sure, let's treat this as a short-coming of my programming skills, until proven otherwise ;)

I hope to find time this weekend to stress test the client myself and see if I can get this behaviour l

[2017-09-13 20:54] rafaelcapucho commented on #33
Hi again @nlsdfnbch :)

Just because I said it was ok, I saw a bad behavior, my logs says it stopped with a `Connection closed`, as:

[code]

And it didn't connect automatically again, as you can see it created a big gap in my chat until I restart the process:
![gap](https://user-images.githubusercontent.com/163367/30399857-72e8fa22-98ab-11e7-97b9-2549d5ea9f2d.png)

Looking at the logs, I don't se

[2017-09-13 21:24] rafaelcapucho commented on #33
Locally it seems to be working, since I was not sure that the production one had the `dev` version, I updated to give another try, lets see :)

[code]

[2017-09-14 14:50] nlsdfnbch commented on #33
@rafaelcapucho , that last log looks good to me - can you confirm this works? Let me know if the problem persists (but please open a new issue for it this time ;) )

cheers,
Nils

[2017-09-15 04:19] rafaelcapucho opened #48 "Connection is not reopening once closed"
Hello @nlsdfnbch :)

Ok, It ran on my VPS, it worked directly for 26 hours, then it died.

[code]

So, the problem still exists in `dev` since it didn't even try to reconnect this time.

It is represented by the last "missing part" of the following 30m graph:
![as](https://user-images.githubusercontent.com/163367/30466329-7838e286-99b3-11e7-8485-eac71a0852b2.png)

Are there any other info that mig

[2017-09-15 05:26] nlsdfnbch commented on #48
Hey @rafaelcapucho !

I have a suspicion where this might stem from. Bitfinex refreshes their trading engine, which requires clients to pause all activity, and finally reconnect to the API. While this is, to my understanding, technically implemented already, it might be faulty.

Could you run your client again, until the connection fails? But this time, start it in debugging mode
(`BtfxWss(key, se

[2017-09-15 13:32] rafaelcapucho commented on #48
Hello @nlsdfnbch :)

I did it, some outputs after insert the Debug `level`, the logs: https://pastebin.com/raw/tVNcZLCN
It is growing fast!,

I will let you know when it stops.
Thanks!

[2017-09-16 08:21] nlsdfnbch commented on #48
Hm - unfortunately, I'm not sure this is working correctly. It should be logging messages from the `websocket-client` App, which it appears to not do. Have you defined a logger in your code, somwhere outside of the class?

I'll run a test on my machine now as well.

[2017-09-16 16:19] rafaelcapucho commented on #48
Yes, I have defined my `logger`.

[code]

It is running ok in the last 24 hours atm, no closed connections, just let me know if I can help you ;)

[2017-09-18 01:57] lucasjota opened #49 "error code 10100 (auth: invalid)"
Hello!,

When receiving this error, connection keeps working but only for unauthenticated channels.
Patched it like this:
[code]
So it is possible to check and solve from `BtfxWss` instance if wanted/necessary:
[code]
After reconnect, all keeps smooth again.

Best Regards,

[2017-09-18 21:18] alexeykarnachev commented on #49
Hello!
nlsdfnbch, I need this bug-fix asap =)
Could you please advice me the best way from your point of view to fix it. I'll try to make the patch yesterday.

[2017-09-19 05:41] nlsdfnbch commented on #49
Thanks @alexeykarnachev! I'm working on it already,  tho. It should be deployed in the next few hours.  The thing is, we need to move the authentication to the connection class,  because we'd have to otherwise hold a reference to the client in connection, which just isn't very nice to look at. If you have a better suggestion,  don't hesitate to share!

[2017-09-19 08:35] nlsdfnbch commented on #49
It's not as pretty as I'd like - the whole way the resubscription is being handles could be better, but the above commit should fix the issue nonetheless.

I / we should perhaps look into a better way to implement this. Could you verify this is working now @lucasjota , @alexeykarnachev ? Use the `dev` branch, as the fix isnt on prod yet.

[2017-09-19 08:36] alexeykarnachev commented on #49
Cool. I'll check it in next hour, but I need a way to simulate an authintification lost. Any ideas?

[2017-09-19 09:05] nlsdfnbch commented on #49
..authenticate with the api, pull the ethernet cable and reconnect it again? :'D That'd be easiest I can think of for an interrupted connection. I think that would work.

[2017-09-19 09:22] alexeykarnachev commented on #49
Just tried it:
Got the following message
ERROR:btfxwss.connection:Received unknown error Code in message {'code': 10100, 'msg': 'auth: invalid'}! Reconnecting..
Unfortunately it's hard to obtain logs. I switched them off, because there is tremendous amount of them (raw books, trades and so on)

[2017-09-19 09:23] alexeykarnachev commented on #49
Oh, ok =) It's because there is no such code in codes dict

[2017-09-19 09:39] nlsdfnbch commented on #49
Yes, that's because I'm a nugget and forgot them. fixed that.

[2017-09-19 09:40] alexeykarnachev commented on #49
Tried it again,
Re-auth still does not work =)

[2017-09-19 09:51] alexeykarnachev commented on #49
Here is another thing which looks like a bug:

connection.py (262:266)

            auth_sig = hmac.new(self.secret.encode(), auth_string.encode(),
                                hashlib.sha384).hexdigest()

            payload = {'event': 'auth', 'apiKey': self.key, 'authSig': auth_sig,
                       'authPayload': auth_string, 'authNonce': nonce}

self.key and self.secret does not exis

[2017-09-19 09:54] nlsdfnbch commented on #49
of course they should be. I don't know what's going on with me today. You make a great debugger, tho ;D

[2017-09-19 10:57] nlsdfnbch commented on #49
looking back, probably wouldve been faster if you had implemented it - I'm coding with my ass today. Fixed that!

[2017-09-19 10:59] alexeykarnachev commented on #49
Ok, sure.
Actually it looks like it was the last fix.
Just tried and I think it works. Anyway, if I'll find any bugs, I'll make pull request.
thx!

[2017-09-19 15:22] nlsdfnbch commented on #48
Hey @rafaelcapucho !
Any updates? My instance has been running for 4 days without an issue (3 reconnects, but nothing stuck).
I have to move the test instance to another machine, but I'll leave it running for another week. Hopefully I've got it logged then.

[2017-09-19 17:03] rafaelcapucho commented on #48
hey @nlsdfnbch :)

yes, It died sometimes but it was able to recover:

[code]

Yeah, hopefully, thank for all your effort.
Cya!

[2017-09-20 11:37] dzhlovegithub opened #50 "send new_order but can not get return message"
I am not clear the specific rules, when I add some function based on your code to trade, I send new order message, I can not get any message about the order. but how can I get the return message which i can known the status of my order.   thanks!

[2017-09-20 12:24] #50 closed

[2017-09-21 04:35] rafaelcapucho commented on #48
Hello @nlsdfnbch

Yes, It closed the connection...earlier today I restarted the system to load newer version of my project, it was working and now I saw that it had stopped some hours later:

[code]

30min chart bellow, we can see it worked for days:
![graph](https://user-images.githubusercontent.com/163367/30679066-10e936c6-9e6d-11e7-9533-1f6fd1c75ee8.png)

Cya!

[2017-09-22 11:01] BitbeyHub opened #51 "Unable to Subscribe to Candle Channel"
[code]

[2017-09-22 13:57] nlsdfnbch commented on #51
Hey @BitbeyHub !
Thanks for contributing! From looking at it,  this probably due to a pull request I merged earlier.  Good catch!
Unfortunately I'm not near a computer till Sunday - until then a workaround may be to prepend a 't' to the symbol when calling the method.

[2017-09-22 18:16] carsonip opened #52 "Lack of state of authentication and reconnection"
The current library lacks the state of authentication. It is still fine until the library reconnects to bitfinex without letting the rest of the code know. Is there any way to notify the other side of the program to re-issue authentication? Maybe a queue containing reconnection signals?

I am happy to implement it and make a PR if you are not available to do so. Let's agree on a way to achieve thi

[2017-09-22 21:52] nlsdfnbch commented on #52
Hey @carsonip !
Thanks for contributing!
Issue #49 already reported this,  and the current dev branch should already have fixed this.  Feel free to confirm this is handled (and of course to report if it isn't).
Thanks!

[2017-09-23 04:02] teresa256 opened #53 "wrong plus/minus sign of volume"
Sometime plus/minus sign of volume on trades method response data is wrong.

Evidence:
In this case, -4 should be +4.
(['te', [69742359, 1506137906000, -0.24, 3613.6]], 1506137906.7423086)
(['te', [69742360, 1506137906000, -0.00762595, 3613.5]], 1506137906.8536527)
(['tu', [69742359, 1506137906000, -0.24, 3613.6]], 1506137906.8545558)
(['tu', [69742360, 1506137906000, -0.00762595, 3613.5]], 150613

[2017-09-23 04:35] carsonip commented on #52
That's great. I'll get back to you after I test it.

[2017-09-23 06:19] nlsdfnbch commented on #53
Hey @teresa256,
Thanks for contributing!
I'm pretty sure that I do not modify the data, but instead hand it out as is.
If that's true (I'll double check it tomorrow,  or perhaps you or @alexeykarnachev has time to verify this?) then this would be something you'd have to report to crypto watch / bitfinex directly as it's not btfxwss messing up the sizes.

[2017-09-25 08:21] nlsdfnbch commented on #51
@BitbeyHub ,
if you have the time, could you confirm this issue is resolved now ? Also, please provide the code you use if the problem persists.

Thanks!

[2017-09-25 08:24] nlsdfnbch commented on #53
I've look at the code and I indeed do not do any editing of data.
This leads me to the conclusion that this is semantics-related.
Afterall, a sell trade always has an equal opposing buy trade. The data you receive is the raw feed from bitfinex, hence this is an issue you'd have to discuss further with crypto watch.
Thanks for taking the time to contribute to the project tho! If you have further in

[2017-09-25 08:24] #53 closed

[2017-09-25 08:25] #39 closed

[2017-09-25 08:26] #29 closed

[2017-09-25 15:55] alexfowler opened #54 "Example Usage Errors in README.md"
When trying to run the provided code in the example, the following line of code seems to cause issues:

`wss.conn.wait():`

If I try to run the code in it's origina form I get **SyntaxError: invalid syntax**.

If I remove the ' : ', I get **AttributeError: 'WebSocketConnection' object has no attribute 'wait**

When I comment it out, I get the following stack trace error:
_**Traceback (most recent

[2017-09-25 17:36] nlsdfnbch commented on #54
Hey @alexfowler  !
Thanks for contributing.
The issue you mention is fixed on the dev branch,  and will be fixed in the next release.
Cheers!
Nils

[2017-09-25 17:36] #54 closed

[2017-09-26 11:24] nlsdfnbch commented on #51
I've checked the logs and found that Bitfinex doesn't like the way I send the subscription for candles:

[code]
Working on a solution atm

[2017-09-27 19:50] Prokhozhijj opened #55 "order book processing"
Hi,
It looks like current version of BtfxWss.subscribe_to_order_book and BtfxWss.unsubscribe_from_order_book does not process at all such parameters as precision, frequency and length. Of course they can be transferred via **kwargs. But, for example, BtfxWss.subscribe_to_raw_order_book and BtfxWss.unsubscribe_from_raw_order_book have parameter "prec".
I am not sure it is a bug but all these discre

[2017-09-28 05:22] nlsdfnbch commented on #55
Hey @Prokhozhijj,
thanks for contributing!
It is indeed not a bug - the precision parameter is passed because it's needed to specify that you'd like the raw book (precision being `R0` instead of `P0`), which is why they're present in both.

I agree, however, that the design choices for the client methods is  wonky. I'm currently looking at a better solution. I'll open a separate issue for this, to

[2017-09-28 05:24] nlsdfnbch opened #56 "Improve design of `client` class methods"
As pointed out in issue #55, the method signatures for the `Client` class are odd to look at.
The entire setup of methods appears a bit bolted on and redundant, and should be improved.

[2017-10-01 05:56] BitbeyHub commented on #51
Sorry I am not very familiar with github and ... I found it might be my network reason after I made the script repeat the line of code again and again  only if it's in "KeyError" until it's connected successfully. Or so I fixed it ?

[2017-10-02 06:27] nlsdfnbch commented on #51
@BitbeyHub, the release branch is the currently most up-to-date branch.

[2017-10-04 07:46] #49 closed

[2017-10-04 07:47] #52 closed

[2017-10-04 07:47] #55 closed

[2017-10-04 07:50] nlsdfnbch commented on #48
I'm still on this, but thus far cannot figure out the problem. The logs aren't helping, unfortunately.

You may include a work-around in your code that, if no data is present in the queue, simply reconnect to the API manually. It's a dirty, quick fix and I'm not proud to suggest it - but it's perhaps the easiest solution for now!

[2017-10-04 07:54] #27 closed

[2017-10-04 07:58] nlsdfnbch commented on #47
done. The current developer branch / pre-release branch (prefixed with `release-`) is available via pip, using hte `--pre` flag when installing. Not doing nightly builds for now.

[2017-10-04 08:01] nlsdfnbch commented on #44
I lost track of this, but I haven't had this issue - does this still persist on the release branch for you, @ntom ?

[2017-10-04 09:08] nlsdfnbch commented on #51
I have opened a ticket with the `Bitfinex Support Team`, hopefully they'll find out what's going on here.
Although I'm quite positive it's something odd on my end, I just haven't been able to spot it.

[2017-10-04 11:40] nlsdfnbch opened #57 "Spell Check all the things!"
There's likely a boat full of spelling errors and grammatical atrocities in the code - log messages, doc strings and comments all need to be reviewed.

Feel free to contribute!

[2017-10-04 12:01] schamp commented on #57
I can do this.

[2017-10-04 12:03] nlsdfnbch commented on #57
@schamp , cool. cool cool cool.
One thing: make sure you do this on the release branch!
cheers,
Nils

[2017-10-05 00:42] rafaelcapucho commented on #48
Hi @nlsdfnbch !!

Yes, were you at least able to see the problem happening once with your own eyes?

My fast way to deal with it was to separate the script (that was running in a thread initially) to it own file and restart it using a `cronjob` each 5min, certainly it isn't even near to an elegant solution, as you said :) but it the way to go considering I have to keep the system running atm.

Bis

[2017-10-05 08:14] nlsdfnbch commented on #48
I have seen it indeed (you're not crazy,  after all :D) but i haven't found out why it does that.  At some point the connection just drops and doesn't reconnect. Its quite odd behaviour. I'll let you know as soon as I've fixed it though! Thanks again for the contribution!

[2017-10-05 14:38] vinaykashyap1206 opened #58 "SyntaxError: can use starred expression only as assignment target"
Traceback (most recent call last):
  File "contrib/live_data_feeders/bitfinex_data_feeder.py", line 1, in <module>
    from btfxwss import BtfxWss
  File "/home/arajguru/work/CCPlatform_Private/venvpython3/lib/python3.4/site-packages/btfxwss/__init__.py", line 1, in <module>
    from btfxwss.client import BtfxWss
  File "/home/arajguru/work/CCPlatform_Private/venvpython3/lib/python3.4/site-package

[2017-10-06 07:44] nlsdfnbch commented on #58
Starred expressions in this manner are only available in Python 3.5+, which is the version the library is tested against. Feel free to supply a fix for pre-3.5 versions via a PR!
Either way, thanks for your contribution!

[2017-10-06 07:44] #58 closed

[2017-10-06 07:55] nlsdfnbch opened #59 "Add support for ZMQ PubSub model"
As it stands now, the client is at risk to eventually crash due to an `MemoryError`, if the user doesn't clear the Queues fast enough.

Using `ZMQ` to provide data moves this risk to the subscriber, instead of the client (which then would become the publisher). This is, IMO, more favorable, since `Slow-Subscriber-Syndrome` can be fought using the `Suicidal-Snail-Pattern`. Either way, the Client wo

[2017-10-06 07:58] nlsdfnbch opened #60 "Let users handle high-level exceptions themselves"
As of now, exceptions due to invalid subscription parameters and such are handled by the client. This repeatedly lead to other issues, since the error was carried down stream and eventually still emerged, disguised as something entirely different.

That's a pain in the ass, from a debugging perspective. Hence, we should let the user handle these errors themselves, and instead only log them.

[2017-10-07 09:00] BitbeyHub commented on #47
marvelous！

[2017-10-10 17:01] kimms213 opened #61 "Error in authenticate()"
Hello, @nlsdfnbch

I'm currently working on dev branch, and found out authenticate() is not working properly.

The error I got is:

    wss.authenticate()
  File "/home/ubuntu/btfxwss/btfxwss/client.py", line 16, in wrapped
    return func(self, *args, **kwargs)
  File "/home/ubuntu/btfxwss/btfxwss/client.py", line 488, in authenticate
    self.conn.send(key=self.key, secret=self.secret, auth=True

[2017-10-10 18:32] nlsdfnbch commented on #61
I think you're right! fixed!
Thanks for reporting this!

[2017-10-10 18:32] #61 closed

[2017-10-10 18:34] #57 closed

[2017-10-11 22:36] apotapov opened #63 "Python 2 support"
Any plans to support Python 2? Specifically 2.7.

Upgrading to Python 3 is not something that we can currently do with our system.

Thanks

[2017-10-11 23:19] apotapov commented on #63
Tried to run 3to2 on it but, the unit tests are failing with:
[code]

I'm going to play around with using web sockets directly.

[2017-10-12 04:25] apotapov commented on #63
Also fixed the issue with KeyError.

If for whatever reason this doesn't get merged and deployed. You can modify your `requirements.txt` to replace:
`btfxwss==1.1.1`
with
`-e git://github.com/TapWealth/btfxwss.git#egg=btfxwss`

[2017-10-12 13:54] apotapov commented on #51
Fixed here: #64.

If you need a quick fix, you can modify your requirements.txt to replace:
`btfxwss==1.1.1`
with
`-e git://github.com/TapWealth/btfxwss.git#egg=btfxwss`

[2017-10-12 13:57] apotapov commented on #51
Note, the fix above also makes the code Python2 compatible which was a requirement for my use case. If you want to make the fix yourself, here's the line that fixes it:

https://github.com/nlsdfnbch/btfxwss/pull/64/files#diff-fa3139a968f240692f4ad7f331d4ff7dR153

[2017-10-12 14:44] kimms213 commented on #51
Hello @nlsdfnbch,
Please check below!

In client._subscribe, the payload dictionary is passed to **conn.send** as separated parameters.
Unfortunately, candles channel has 'key' in parameter name.
This is overlapped with original parameter name 'key' in conn.send method, which is used for api key.

A quick fix for this problem is to change parameter name in conn.send, something like below.

def sen

[2017-10-14 06:42] nlsdfnbch commented on #63
Hey @apotapov!
thanks for the PR and the issue!
As I have pointed out in the PR, I will not merge it since I do not believe in supporting Python2 development at this point, since it's just a little over 2 years left before it is officially not supported anymore.
Thank you again for your efforts!

[2017-10-14 06:42] #63 closed

[2017-10-14 07:24] nlsdfnbch commented on #51
@kimms213
You're right! Fixed it that way. Thanks for the help and pointers, people!

[2017-10-14 07:24] #51 closed

[2017-10-16 16:44] laurent101 opened #65 "unsubscribe fct fails to unsubscribe"
Hi,
first of all, great project! Unfortunately, I'm experiencing an issue with the unsubscribe functions. For example the fct 'unsubscribe_from_order_book()' does not unsubscribe the channel as expected but keeps returning order book update.
Any idea what's going on here?

Thanks for any assistance.

Best,
L

[2017-10-16 17:02] laurent101 commented on #65
Issue solved. The feed keeps receiving updates until the response_handler() has processed the response.

Sorry for any inconvenience caused.

[2017-10-16 17:02] #65 closed

[2017-10-18 11:00] ppop opened #66 "import btfxwss fails"
Pip installed the package, tried to import it

`from btfxwss import BtfxWss`

I'm getting the following error:

[code]

[2017-10-18 14:23] nlsdfnbch commented on #66
Hey @ppop !

Thanks for opening an issue.
What Python version are you using?

[2017-10-18 14:26] nlsdfnbch commented on #66
Hey @ppop !

Thanks for opening an issue.

The error you're seeing here is due to an unsupported Python version (`BtfxWss` only works with python 3.5+), since it uses[ starred expression unpacking in function calls](https://docs.python.org/3/whatsnew/3.5.html#whatsnew-pep-448).
If you like, you can submit a PR that fixes this and makes it compatible to earlier Python3 versions.

Cheers,

Nils

[2017-10-18 14:29] #66 closed

[2017-10-19 17:51] pchandra-uchicago opened #67 "Updates"
Hi,
I am not able to get updates of order book. I am subscribing to a channel using wss.subscribe_to_order_book('BTCUSD'). Shouldn't i keep getting orderbook updates till I unsubscribe the channel.

Thanks

[2017-10-19 18:19] rchiossi opened #68 "SSL: CERTIFICATE_VERIFY_FAILED"
Hi,
I just installed btfxwss for the first time and I'm trying to run the sample code in the README file. The code executes, but is unable to connect. I get the following error:

[code]

I'm running the code on Ubuntu 16.04 with python 3.5.2

Any idea what may be causing the issue?

[2017-10-19 19:26] nlsdfnbch commented on #67
Hey @pchandra-uchicago!

Thanks for submitting an issue. You are correct - once you subscribe to the API you should receive data as long as you're subscribed and the connection doesn't drop.

Could you run the code again and supply the log files? That way I can look into this matter.

Cheers,
Nils

[2017-10-19 19:29] nlsdfnbch commented on #68
Hey @rchiossi !

Thanks for submitting an issue!

The error you're seeing is due to an unverified Certificate on Bitfinex's side (which is worrisome, but not fixable on my end, unfortunately).

See here for more details:
https://stackoverflow.com/questions/34503206/ssl-certificate-verify-failed-python

[2017-10-19 19:29] #68 closed

[2017-10-19 22:22] rchiossi commented on #68
Hmm, that's really bad indeed!
Thanks for helping, I'll try to work a way around it.

[2017-10-20 13:41] pchandra-uchicago commented on #67
Thanks for the instant response Nils.  Below is code snippet I am running

# Subscribe to some channels
wss.subscribe_to_order_book('BTCUSD')

**# Do something else
t = time.time()
while time.time() - t < 5:
    pass**

count =0
while True:
    order_q = wss.books('LTCUSD')
    rowCnt = 0
    while not order_q.empty():
        print(order_q.get())
        rowCnt += 1
    print("Round " + str(count

[2017-10-20 13:44] pchandra-uchicago commented on #67
Sorry missed adding log messages. Below is what is logged

INFO:btfxwss.connection:Connection opened
DEBUG:btfxwss.client:_subscribe: {'event': 'subscribe', 'channel': 'book', 'symbol': 'LTCUSD'}
INFO:btfxwss.queue_processor:Subscription succesful for channel ('book', 'LTCUSD')
INFO:btfxwss.connection:Connection opened
DEBUG:btfxwss.client:_subscribe: {'event': 'subscribe', 'channel': 'book', 'sym

[2017-10-21 11:29] qraftec opened #70 "Hi. How to get authenticated data?"
Thank you for nice library. By the way, how can I get authenticated request like balance info or new order?
There's no examples in your documentation so can you tell me how to?

[2017-10-21 18:42] Prokhozhijj opened #71 "Connecting to multiple channels"
Hi Nils,

First of all thanks for your work. This is great and very useful library. As far as I am newbie in Python I've learned a lot of interesting things and techniques.

Also I have a question regarding performance and stability of btfxwss client.

I'd like to gather some data from stock exchange. And for that purpose I want to subscribe on many channels at once (in particular, channel 'trades

[2017-10-22 07:04] qraftec commented on #70
I got how to do. Thanks.

[2017-10-22 07:04] #70 closed

[2017-10-22 10:28] Prokhozhijj commented on #71
It looks like the root cause of issue is in something else.

[2017-10-22 10:28] #71 closed

[2017-10-22 15:12] nlsdfnbch commented on #67
1. After you subscribe, the client sets up a queue for all order book data related to your pair - as soon as it gets confirmation of the subscription from the bitfinex server. You can then access this `Queue()` to read out the data the client received.  The client does not return a single orderbook view, but raw data from which you must build the order book yourself. As you can [read in the docume

[2017-10-22 20:17] thedudeBTC opened #72 "def authenticate() calls key= instead of api_key="
in client.py, line 489: self.conn.send(**key**=self.key, secret=self.secret, auth=True)

should be: self.conn.send(**api_key**=self.key, secret=self.secret, auth=True)

The send() function in connection.py has argument "api_key" and not "key"

[2017-10-24 08:08] nlsdfnbch commented on #72
Hey @thedudeBTC !
Thanks for submitting this issue - It's fixed with #73 and uploaded to pypi!
Cheers!

Nils

[2017-10-24 08:08] #72 closed

[2017-10-25 16:03] pchandra-uchicago commented on #67
Thanks Nils. That was helpful and sorry for the delayed response.

[2017-10-25 19:12] nlsdfnbch commented on #67
@pchandra-uchicago , no problem! Glad I was of help!

[2017-10-25 19:12] #67 closed

[2017-10-25 20:13] pchandra-uchicago commented on #67
I have an other query..The orderbook updates is causing my order book to grow in size. Any suggestions on how to deal with this issue ?

Thanks
Prakash

[2017-10-26 10:34] nlsdfnbch commented on #67
Hey @pchandra-uchicago ,
you can find an answer to your question in the [bitfinex docs](https://bitfinex.readme.io/v2/reference#ws-public-order-books):

4.1 if amount = 1 then remove from bids
4.2 if amount = -1 then remove from asks

So check the `count` parameter and `dict.pop()` the price level from your order book. You can avoid errors when attempting to `pop` a price which you previously hadn

[2017-10-26 16:23] pchandra-uchicago commented on #67
Hi Nils, thanks for the link. I am now able to handle the order book size. However, what I am noticing is that if i keep updating my order book, at some point the bids become greater than the offer or vice versa. I have attached order book logs..As you can see at one point, the best bid is 5939.4 and ask is 5937.8. The bids and offers before the  dotted line in the log file is correct. After the d

[2017-10-27 17:26] pchandra-uchicago commented on #67
Hi Nils. I again observed the above mentioned issue where the bid > offer at some point and it remains that way.  I have attached another output log. Please take a look
[output.log](https://github.com/nlsdfnbch/btfxwss/files/1422905/output.log)

[2017-10-28 08:50] nlsdfnbch commented on #67
Hey @pchandra-uchicago,
sorry for the radio silence, I came down with the flu and wasn't able to respond quicker.

Have a look here:
https://bitfinex.readme.io/v2/docs/ws-general#section-configuration

You can enable message sequencing to make sure you the client hasn't missed anything. As for the problem itself, this isn't an issue with `btfxwss` per se - messages do get lost, so every now and th

[2017-10-28 08:53] nlsdfnbch opened #74 "Implement restart/reset methods in client"
Currently, there is no option to reset the client, in order to simply reconnect to the API - this means, the user must call `stop()` and `start()` on the client object, and then manually resubscribe to previously subscribed channels.

A `restart()` / `reset()` method should take care of this. Subscriptions are already stored on the `Connection` object, hence this should be simple to implement.

Th

[2017-10-28 09:15] runz0rd commented on #74
Mind if I take this one?

[2017-10-28 09:17] nlsdfnbch commented on #74
@runz0rd, not at all! I'm still sick in bed and shouldn't even be on here - the wife has practically banned me from programming for a few days :'(
;D Thanks!

[2017-10-30 17:25] pchandra-uchicago commented on #67
Hey Nils, Thanks for prompt reply. Hope you are feeling better now.

I saw the implementation by @runz0rd. Thanks @@runz0rd.
 Is this change part of pip now. Because I upgraded the package, but I don't see the changes yet.

I have an other query. Is there a sample code that shows how to place a new order ?

Cheers
Prakash

[2017-10-30 18:53] pchandra-uchicago commented on #74
Hey Nils, @runz0rd,

I tried resetting the connection by calling reset() method when I find the order book is invalid. However I get the following error message

'send() argument after ** must be a mapping, not tuple'.  Am I missing something here.

Thanks
Prakash

[2017-10-30 20:59] runz0rd commented on #74
@pchandra-uchicago @nlsdfnbch
This is probably due to the self.channel_configs's (OrderedDict) __iter__.
We can solve this by storing the "q"s somewhere else as well, or add another method to the OrderedDict in order to extract the map instead of a tuple.

[2017-10-30 22:36] eSanity opened #76 "Authentication error in master branch"
Issue #61 has been fixed for the dev branch, but could it be added to main branch as well? I am using the main branch and authentication failed with the exact same errors from Issue #61

[2017-10-31 18:23] pchandra-uchicago commented on #67
Hey Nils,

I have two questions.
1.  I am providing the api key and secret to btfxwss.  I see authenticate(self) definition in client, But I am not sure if its used to authenticate.  How can i vet that its logged in using the credentials I pass?

2.  I was trying to place a test order using new_order((self, **order_settings). I passed order_settings as below
order_settings= {'cid': 01256098,

[2017-11-01 06:01] nlsdfnbch commented on #67
Hey @pchandra-uchicago ,
Please open a new issue for new questions - otherwise this gets quite unorganised quickly. Please always include a complete code snippet,  properly formatted in github markdown, as well as logs (see the readme example on setting up logging).

For 1.), make sure you leave time for the client to connect by adding a wait call (see example in the readme)

[2017-11-01 07:33] nlsdfnbch commented on #76
I'll push a beta version this noon, you should then be able to install it via pip using `pip install --pre btfxwss` - I'll let you know once this is done!

[2017-11-01 08:53] nlsdfnbch commented on #76
uploaded to pypi, @eSanity !

[2017-11-01 08:53] #76 closed

[2017-11-01 08:54] nlsdfnbch commented on #60
In addition, this pushes `btfxwss` more into a direction of a library, rather than a CLI client.

[2017-11-01 14:05] pchandra-uchicago opened #77 "authentication failure"
Hi Nils,

I am getting TypeError when I  try to authenticate. Below is the code snippet and along with the logs

[code]

[test.log](https://github.com/nlsdfnbch/btfxwss/files/1434365/test.log)

[2017-11-01 14:27] Vyllonder opened #78 "make order example"
Hi!

Could you please make an example of how to create an order? Im trying to do it but im not abe¡le to get it. My code is

[code]

Lot of thanks in advance

[2017-11-01 14:33] nlsdfnbch commented on #78
Hey @Vyllonder,

in order to figure out what's wrong, I require the logs. Otherwise it's a whole lot of guessing.

simply remove the `#`'s to uncomment the logger and upload the contents of the generated `test.log` (make sure that your api/secret aren't shown). Once you've done that, I'll be sure to help you out asap!

Cheers,

Nils

[2017-11-01 14:47] Vyllonder commented on #78
the output is this:
[code]

Lot of thanks for your fast answer! Im putting silly orders to see if works

[2017-11-01 15:04] pchandra-uchicago commented on #77
Hi Nils,

Now worries. It was my fault to ask all questions on a thread.
I installed a pre-release version. Now I am getting below error

ERROR:btfxwss.queue_processor:Dtype 'auth' does not have a response handler!

Have attached the logs

Thanks
Prakash
[test.log](https://github.com/nlsdfnbch/btfxwss/files/1434553/test.log)

[2017-11-01 15:20] nlsdfnbch commented on #78
Which version are you currently using? I can see where it crashes in the code, but I cannot see why.
Are you installing via `pip`? if so, are you using the `--pre` flag during installation?

[2017-11-01 15:25] nlsdfnbch commented on #77
Alright, good to know - there is an identical issue (#78) about this, I'll post update on there and close this down to avoid duplicates.

[2017-11-01 15:25] #77 closed

[2017-11-01 15:30] nlsdfnbch commented on #78
I just got back from reading #77, and that appears to be a duplicate. Therefore it appears to be an issue in the current pre-release version. Which is odd.

Could you guys run the code again and set the logging level to `logging.debug` for all handlers ? I need to track the exact path of the message.

[2017-11-01 15:36] pchandra-uchicago commented on #77
Thanks Nils

Prakash

[2017-11-01 15:46] pchandra-uchicago commented on #78
attached is a log snapshot
[test.log](https://github.com/nlsdfnbch/btfxwss/files/1434690/test.log)

[2017-11-02 07:55] nlsdfnbch commented on #78
@pchandra-uchicago, can you confirm that you have provided an API key when initializing the client?
According to your logs,  the API key passed via the payload is NULL. That may be our offending source.

[2017-11-02 08:29] nlsdfnbch commented on #78
I was able to confirm that this was indeed the problem - I've released a hotfix for both versions on pypi.

Please let me know if this fixes the issue for you!

[2017-11-02 13:58] pchandra-uchicago commented on #74
Hi @runz0rd ,

I tried passing a dict instead of OrderedDict to send(). This doesn't solve the issue though. Could you please take a look.

Thanks
Prakash

[2017-11-02 14:19] pchandra-uchicago commented on #78
Hi Nils,

Thanks for the quickfix. I am still getting the error below
ERROR:btfxwss.queue_processor:Dtype 'auth' does not have a response handler! (('auth', {'status': 'FAILED', 'code': 10100, 'msg': 'apikey: invalid'}, 1509632140.2461174))
ERROR:btfxwss.queue_processor:Dtype 'auth' does not have a response handler! (('auth', {'status': 'FAILED', 'code': 10100, 'msg': 'apikey: digest invalid'}, 15

[2017-11-02 14:43] nlsdfnbch commented on #78
Hey @pchandra-uchicago ,
could you check the logs for a message looking like this:
[code]
And post it? It probably says `"apiKey": null` or similar. The fact that it isn't handled by the auth_handler method is curious, tho. Hm.

[2017-11-02 14:52] pchandra-uchicago commented on #78
DEBUG:btfxwss.connection:send(): Sending payload to API: {"event": "auth", "apiKey": null, "authSig": "88fbc194f50d3148f5", "authPayload": "AUTH1509634174", "authNonce": "15096341741420024"}

As you said, apiKey is null

[2017-11-02 15:10] nlsdfnbch commented on #78
Have you been using the pre-release or the production version?
I saw that, for whatever reason, prod didn't have a fix for the duplicate key issue with `key` and `api_key`, which is fixed now.
If you were using `master` (the production release on `pypi`), this may have fixed it. Otherwise, we're back to square one.

[2017-11-02 15:20] pchandra-uchicago commented on #78
I am using pre-release which you mentioned yesterday (pip install --pre btfxwss). I just downloaded latest version of all files from pypi and replaced the files in my btfxwss folder(folder where btfxwss are placed when i do pip install). Are you facing a similar issue or is it just me messing something up?

[2017-11-02 15:29] nlsdfnbch commented on #78
No, no,  I do get the same errors.  I will have a look at this again once I'm home. Its probably something obvious I'm not seeing.

[2017-11-02 15:31] pchandra-uchicago commented on #78
Sounds good !  Thanks again. Let me know if you need any assistance testing it.

[2017-11-02 19:22] nlsdfnbch commented on #78
Ok, I just tried again and authentication works for me.

Here's my code:

[code]

Feel free to copy and paste this, as is - the account isn't funded and is used for the test backend of `bitex`, my other project. See if you can find a message somewhere along these lines in the log:

[code]

[2017-11-02 19:48] pchandra-uchicago commented on #78
I still have the same problem. I am guessing, its issue with the version I am using. Could you please push the changes to release so that I can pip --install.

Thanks
Prakash

[2017-11-02 19:55] nlsdfnbch commented on #78
The changes should have been on pypi already. Hm. I have uploaded them again (both production and pre-release should work).

[2017-11-02 19:56] nlsdfnbch commented on #78
@Vyllonder , can you confirm this issue persists for you as well ?

[2017-11-02 20:36] pchandra-uchicago commented on #78
I just did pip uninstall and then pip install. I ran the code you pasted.
Have attached the logs below. I see a different error
I am not sure what's going on
[test.log](https://github.com/nlsdfnbch/btfxwss/files/1439305/test.log)

[2017-11-02 20:42] nlsdfnbch commented on #78
That's progress! Authentication works - unfortunately the handler that is supposed to process the data for the authenticated channel is missing (or more like is not referenced properly). I will fix this first thing in the morning.

Thank you for your patience and help!

[2017-11-02 21:42] pchandra-uchicago commented on #78
Great ! Thanks again for the quick turnaround

[2017-11-02 22:30] eSanity commented on #78
I added
`print(self.account_channel_names)
 print(data[0])`
to _handle_acccount() since the KeyError comes from
`channel_identifier = self.account_channel_names[data[0]]`
 in the QueueProcessor which returned
`INFO:__main__:Connection opened
INFO:__main__:Connection opened
{'os': 'Orders', 'ps': 'Positions', 'hos': 'Historical Orders', 'hts': 'Trades', 'fls': 'Loans', 'te': 'Trades', 'tu': 'Trades

[2017-11-03 08:32] nlsdfnbch commented on #78
@eSanity , excellent catch! I thought it occurred further upstream. I have contacted Bitfinex Support, in the hope that they can shed some light on this issue.

[2017-11-03 08:42] nlsdfnbch commented on #78
For test purposes I have added a dummy name for the 'ats' message type. See if this resolves the issue?

[2017-11-03 14:10] eSanity commented on #78
@nlsdfnbch In btfxwss-1.2.0b4 authentication broke again. The commit that solved #76 and #61 was not included. Re-adding the line `payload = json.dumps(payload)` to the release branch in connection.py at line 268 should fix the issue.

I am not (at all) familiar with GitHub, is there an easier way for you that I can send you these changes and you only have to press a button? Thanks for developing

[2017-11-03 14:25] pchandra-uchicago commented on #78
Nils,
Have you pushed the 'ats' fix to production

[2017-11-03 14:40] eSanity commented on #78
@pchandra-uchicago
The 'ats' fix is currently in the release branch but I would advice _not upgrading_ since the issue  (#79)  I highlighted before your comment will stop your program from working whereas you can safely ignore any 'ats' errors for now.
The line that fixes the 'ats' problem can be seen below
https://github.com/nlsdfnbch/btfxwss/blob/01c17c689e7bfb3f65c42f80f4c39e781001248a/btfxwss/

[2017-11-03 14:57] nlsdfnbch commented on #78
@eSanity, holy shit muffin, batman! How did that happen D:< It's fixed now!

@pchandra-uchicago , the `--pre` version now has this fix

Once this is confirmed to be working as expected, I'll push it to production, too.

[2017-11-03 15:10] eSanity commented on #78
@nlsdfnbch Just installed 0b5, listened to .orders_update and submitted an order via Bitfinex website. Can confirm it works now.

(Slightly off-topic but looking at the new orders method in the API, why do you not have to supply a wallet type to execute the order from? Does it default to the exchange wallet? I already asked Bitfinex Support but they are _very slow_ with a response)

[2017-11-03 15:20] nlsdfnbch commented on #78
@eSanity, wohoo!

If you look at the [documentation](https://bitfinex.readme.io/v2/reference#ws-input-order-new), it states that you must supply a `symbol` when submitting an order - depending on what you want to trade, it uses that wallet as required.

[2017-11-03 15:24] nlsdfnbch commented on #78
@pchandra-uchicago , fix no in `production` - could you confirm this?

[2017-11-03 16:14] pchandra-uchicago commented on #78
Hey Nils,

I still have the same issue when I run my code. When i run your code it seems to work fine. I have attached the logs for your code and my code. My code is below.

`try:
    wss = BtfxWss(key="abcdef", secret="defghd",   log_level=logging.DEBUG)
    wss.start()

    while not wss.conn.connected.is_set():
        time.sleep(1)

    wss.authenticate()
except Exception as e:
    print(e)`

[2017-11-03 16:46] eSanity commented on #78
@pchandra-uchicago You are not sending a valid API key.
@nlsdfnbch's API payload
`2017-11-03 11:05:09,665	btfxwss.connection	DEBUG	send(): Sending payload to API: {"event": "auth", "apiKey": "xs2WF55Nez9L24UaLMmWIXDfqb1MwaDrALVuSuUffbw", "authSig": "72b1d3eb7b5774a5ab960af0a5af9a3a9a57a74572613602ffa6b1190f987f857b693cc7e4e83d7228a17abb5d1f5eb7", "authPayload": "AUTH15097251096652732", "authNonce"

[2017-11-03 16:52] pchandra-uchicago commented on #78
I changed that in the logs.. I will cross check again. But why do you say so ?

[2017-11-03 17:03] nlsdfnbch commented on #78
@eSanity , @pchandra-uchicago almost - somehow, the digest wasn't valid

[code]

[2017-11-03 18:02] eSanity commented on #78
@nlsdfnbch @pchandra-uchicago what prompted my question regarding the key/secret was indeed the failed digest message, the size difference between your "authSig" and his "authSig" and the error code '10100' for failed authentication.

Have you tried with another key/secret yet?

[2017-11-03 20:36] pchandra-uchicago commented on #78
I did change all those fields ( authSig, websocket key,  cookie etc)..anything that is like a key, i have modified

[2017-11-04 08:50] nlsdfnbch commented on #78
@pchandra-uchicago, OK, but still there seems to be something off - just to make sure it isn't the key/secret, could you generate a new pair and try again? Because this is the only variable that differs, as far as I understand.

[2017-11-06 12:54] pchandra-uchicago commented on #78
@nlsdfnbch , I will try by generating a new key and secret. Will keep you guys posted

Thanks

[2017-11-06 15:00] pchandra-uchicago commented on #78
Hi Nils,

Just tried with new key and secret. I have attached the logs below. It throws error the first time and looking at logs, it seems like its authenticating in subsequent pings.
[test_1106.log](https://github.com/nlsdfnbch/btfxwss/files/1446614/test_1106.log)

[2017-11-06 17:27] pchandra-uchicago commented on #78
@nlsdfnbch @eSanity ,

I had issues with API access for my account. Got that fixed and now it seems to work fine.
Thanks for your patience guys.

@eSanity  - did you get the new order thing working ?

Cheers

[2017-11-07 17:39] pchandra-uchicago commented on #74
Any takers ?

[2017-11-07 18:49] nlsdfnbch commented on #78
Is it not working for you? @pchandra-uchicago

[2017-11-07 19:41] pchandra-uchicago commented on #78
Nils,

Authentication works. Thanks for the help.
However, I have issues resetting order book . Could you please take a look?

Thanks

[2017-11-07 19:57] nlsdfnbch commented on #78
@pchandra-uchicago, I'm on it. I'll close this, since the issue is resolved.

[2017-11-07 19:57] #78 closed

[2017-11-07 20:13] pchandra-uchicago commented on #78
Thanks Nils. Let me know if you need any assistance with it.

[2017-11-08 08:11] nlsdfnbch commented on #74
@pchandra-uchicago, this should now be working correctly.

[2017-11-08 08:12] #60 closed

[2017-11-08 08:13] nlsdfnbch commented on #56
With the introduction of  `zmq` to the project, I'm looking to deprecate the old client interface altogether.

[2017-11-08 08:13] #56 closed

[2017-11-08 08:16] nlsdfnbch commented on #48
@rafaelcapucho , I just pushed a fix for the resubscribe() method, which was related to #74, but may be the root cause for this problem. There was an error in the `resubscribe` method, which caused it to not work. This may be what's happening in this scenario.
 Care to see if this fixed the issue?

Cheers,
Nils

[2017-11-08 08:17] nlsdfnbch commented on #44
Closing, since no response for over a month.

[2017-11-08 08:17] #44 closed

[2017-11-08 08:18] nlsdfnbch commented on #32
With the introduction of `zmq` in the next release and the deprecation of the current client interface, this issue is no longer relevant.

[2017-11-08 08:18] #32 closed

[2017-11-08 14:44] pchandra-uchicago commented on #74
@nlsdfnbch  - Is it on pypi or production ?

[2017-11-08 14:52] nlsdfnbch commented on #74
It's on pypi,  integrated into the latest stable release(or "production") and the prerelease. If it isn't working  don't forget the logs!

[2017-11-08 14:54] pchandra-uchicago commented on #74
Thanks Nils. So i can do a pip install as I am more comfortable with that than pypi. Will keep you posted on this

[2017-11-09 05:47] Changsung opened #85 "Auth reconnection issue"
Hello @nlsdfnbch

I have a reconnection issue for authentication in the current release version and there might be something to fix.

When the socket acts on reconnection and resubscription, the payload of channel configs is popped and sent it through the socket for subscription and added back to q_list in case of a re-occurrence of resubscription. But for the authentication channel, after it pops

[2017-11-09 07:24] nlsdfnbch commented on #85
Hey @Changsung  ,
Thanks for submitting this (and the PR). Much appreciated!

It's merged and will be up on pypi later today.

Thanks!

Nils

[2017-11-09 09:26] nlsdfnbch commented on #85
Uploaded to pypi! Closing this issue.

[2017-11-09 09:26] #85 closed

[2017-11-10 17:55] pchandra-uchicago commented on #74
@nlsdfnbch  - reset works fine. Is there any way to speed up the subscription of order book. It takes sometime to open the connection, authenticate and then subscribe for the connection. The reason I am asking is the order book becomes invalid quite often and stopping and turning all channels back up takes time. Please let me know.

Slightly off topic - how can I check the execution status of my l

[2017-11-10 20:30] nlsdfnbch commented on #74
@pchandra-uchicago, there is no faster way I know of.

Regarding the state, you're notified via the account channel about fills, partial fills and order executions. If you want to query a state (send a request) you will have to do so via REST.

Closing this, as the issue is resolved.

[2017-11-10 20:30] #74 closed

[2017-11-10 20:38] pchandra-uchicago commented on #74
@nlsdfnbch  - Thanks for the inputs.

I have two more questions regarding status. Let me know if you want me to create a new thread

1.  Can you have a Websocket working along with REST ? Its a silly question, but just wanted to confirm
2. When the new order is sent, how can we get to know if the order was submitted successfully ?

Thanks
Prakash

[2017-11-10 21:16] nlsdfnbch commented on #74
1. Theoretically yes- but bitfinex doesn't sequence their websocket and REST messages globally, hence there will always be room for inaccuracies. No global sequencing means that you cannot guarantee a REST repsonse being before or after a websocket message and vice versa.

2. Again, the confirmation can be read out via the account channel. Check out the bitfinex docs - they explain what type of me

[2017-11-10 21:57] pchandra-uchicago commented on #74
Regarding the 2nd question,

I read the API docs and when I subscribe to trades, I can see the 'te' followed by 'tu' messages. But I am not sure how to subscribe to an account channel. I don't see a subscribe_account_channel function that does the job.

[2017-11-11 00:26] rafaelcapucho commented on #48
@nlsdfnbch buddy!

Hey, so I see you have good news :)
Right now I had to pause the development of this platform a bit, we need to retest the strategy a bit before continue, so I can't test it right now.
I hope to continue the project soon, I will be glad to test it again when possible and give you a feedback.

Thanks for all your effort and time,
reach me anytime,
Cheers,
Rafael.

[2017-11-11 08:38] nlsdfnbch commented on #74
The account channel is automatically subscribed to when you authenticate with the API - 'te' and 'tu' messages, for example, are on that channel; so you have already accessed this channel.

[2017-11-12 05:08] pchandra-uchicago commented on #74
This means that one can receive 'te' and 'tu' messages specific to the trades pertaining to an account?  If that's the case, then I can keep waiting for these messages to see if my trade went through.

[2017-11-12 15:00] Momengs opened #87 "For authenticated usage"
### Overview Description

# Steps to Reproduce
None
# Actual Results
none
# Expected Results
none
# Reproducibility
none
# Additional Information:
It's friendly for public channels ,but i'm puzzling in how to get authenticated informations.
Could you please show me a authenticated usage.
`
wss = BtfxWss(key=api_key, secret=api_secret)`
`wss.start()`
`wallet = wss.wallets`

How to get wallet info?

[2017-11-12 15:40] #87 closed

[2017-11-13 15:29] pchandra-uchicago commented on #74
@nlsdfnbch  - could you please guide me a bit on how to get trades pertaining to my account.

I have the below code. subscribe_to_trades('LTCUSD') is probably giving me the list of all trades for LTCUSD pair.  I have attached the logs below
[test.log](https://github.com/nlsdfnbch/btfxwss/files/1467411/test.log)

`c = BtfxWss(key=key, secret=secret, log_level=logging.DEBUG)
c.start()
while not c.co

[2017-11-15 18:57] pchandra-uchicago commented on #74
@nlsdfnbch  - slightly off topic. when I send new orders can't i send a payload like below

`c = BtfxWss(key=key, secret=secret, log_level=logging.DEBUG)
c.start()
while not c.conn.connected.is_set():
    time.sleep(1)
c.authenticate()
payload= {"cid": 12345, "type": "EXCHANGE LIMIT", "symbol": "tLTCUSD", "amount": '1.0', "price": '60.0',
                  "hidden": 0}
c.new_order(payload)`

Sendi

[2017-11-15 19:03] nlsdfnbch commented on #74
@pchandra-uchicago this is off topic indeed - please open new issues for unrelated questions.

In your case, you're missing the dictionary unpacking using starred expressions, as keyword arguments must be passed, not a single positional.

[code]

[2017-11-15 19:46] pchandra-uchicago commented on #74
@nlsdfnbch  - Apologies..I will keep that in mind.

Thanks for the timely response

Cheers
Prakash

[2017-11-17 21:36] pchandra-uchicago commented on #74
Hi Nils,

I am receiving 'te' and 'tu' messages when i subscribe to trades. But I am not able to identify which of these trade messages pertain to my order. Could you please help me with that.

Thanks

[2017-11-17 23:38] nlsdfnbch commented on #74
@pchandra-uchicago ,
as usual, it is just a matter of reading the documentation for [new orders ](https://bitfinex.readme.io/v2/reference#ws-input-order-new)and the [orders messages](https://bitfinex.readme.io/v2/reference#ws-auth-orders). All of the `te` and `tu` are exclusive to your account's orders. Hence, you simply need to look for your order's ID in the [trade messages](https://bitfinex.rea

[2017-11-19 08:57] Michshelle opened #89 "Order failure"
Hello team,

I tried to create new_order via the api but always ended up by returning a False orders.empty() and a blank item of orders.get().   I'm not sure whether it is my code issue or the api.  Can you help to guide me a bit here?  Many thanks.

Basically, I just gather the pieces together.  Only I inserted my own API and input a random number for 'cid' in dict 'Morder'.   The auth part is fi

[2017-11-19 09:43] nlsdfnbch commented on #89
hey @Michshelle !

Thanks for submitting this issue and contributing!

Regarding your issue:
[code]
This won't do you much good, since the queue is generated in a ``defaultdict` for the current release, which will always return an empty object. Could you check and see if simply waiting a little longer resolves the issue ? It should only be a matter of timing, as I guess you simply call `get()` too

[2017-11-19 14:39] Michshelle commented on #89
Thank you @nlsdfnbch for taking time on this.

Even it gets switched to the time.sleep(30), it still cannot work.
[code]

FYI, If I created one order via browser, the orders.get() can return the details of the order.
`(['os', [[5273632715, None, 52387912113, 'tBTCUSD', 1511101987932, 1511101987973, 0.01, 0.01, 'EXCHANGE LIMIT', None, None, None, 0, 'ACTIVE', None, None, 7466, 0, None, None, None,

[2017-11-19 16:02] Michshelle commented on #89
Hello @nlsdfnbch,

I'm able to order now.  No problem with your suggestion.
The issue is with the type in Morder.  I should change it to EXCHANGE LIMIT to work, otherwise I got reminded  in the browser no enough balance to support the order (it may keep popping out there all the time, only I just noticed it).

One last question, is there a way I can print such error message to the log?   Trying to

[2017-11-20 02:55] Michshelle commented on #89
Thank you!  I'm going to move the above question to a new issue.

[2017-11-20 02:55] #89 closed

[2017-11-20 03:06] Michshelle opened #90 "Error message output"
Hello @nlsdfnbch ,

When I was testing order function, an issue occurs but the error message only appeared in Browser instead of the cmd window or the log.

[code]

The issue is with the type in Morder. I should change it to EXCHANGE LIMIT to work, otherwise I got reminded in the browser no enough balance to support the order (it may keep popping out there all the time, only I just noticed it).

I

[2017-11-20 05:47] pchandra-uchicago opened #91 "New order status"
Hi Nils,

I am not able to reply on the other thread. Since this issue is off topic, I thought I might as well open a new thread. When I place a new order, order_id is not returned. So there is no way for me to check the execution status of the order when I subscribe to trades.

I am aware that when I authenticate, I am automatically subscribed to account channel. However, I am not aware of how to

[2017-11-20 08:55] nlsdfnbch commented on #90
Hey @Michshelle !

The btfxwss class takes a kwarg named log_level if you pass it logging. DEBUG, you'll see all the messages sent and received by the client! (will fix formatting later,  currently in phone!)

[2017-11-20 08:59] nlsdfnbch commented on #91
@pchandra-uchicago ,

As stated in #71, it's a matter of reading the documentation.  The cid is a s
Custom id passed by you,  which helps you track your order.

Cheers,

Nils

[2017-11-20 08:59] #91 closed

[2017-11-20 11:45] Michshelle commented on #90
Thank you @nlsdfnbch .  It works.   However some of the string seem to compressed.
`b"\x81\xf2\x0bY\x95\x8ePi\xb9\xae)6\xfb\xac'y\xfb\xfbg5\xb9\xaep{\xe1\xf7{<\xb7\xb4+{\xd0\xd6H\x11\xd4\xc0L\x1c\xb5\xc2B\x14\xdc\xda)u\xb5\xac{+\xfc\xedn{\xaf\xae)l\xa6\xbf;i\xa5\xac'y\xb7\xeff6\xe0\xe0\x7f{\xaf\xae)i\xbb\xbe:{\xb9\xae)1\xfc\xeao<\xfb\xac1y\xa5"`

[2017-11-20 11:45] #90 closed

[2017-11-20 13:04] nlsdfnbch commented on #90
@Michshelle ,
yes, that's the output of the `websocket-client` component, but you should also see `byte` strings for all later method calls!
Glad I was of help!

Nils

[2017-11-20 23:12] pchandra-uchicago commented on #91
@nlsdfnbch  - May be I was not clear in articulating my question.

What I meant was, since I am already subscribed to account channel, is there a way to check my open orders and all other account info from there without actually having to subscribe to trades channel and look for matching 'cid' to see if my trade went through

Thanks
Prakash

[2017-11-21 07:36] nlsdfnbch commented on #91
If you'd like to query your open orders,  you will have to use the REST API, since there is no such functionality on the websocket API.

[2017-11-22 12:29] Michshelle opened #92 "How to cancel an order"
Hello @nlsdfnbch ,

How are you today?

I'm still working on the very basic of this API.  I tried hard to cancel an order by studying the manual (https://docs.bitfinex.com/v1/reference#rest-auth-cancel-order) but failed in many ways.  Currently, I'm not quite sure whether it's my code issue.

[code]
It would be great if you can help a bit on here.  Many thanks.

Best regards,

Michelle

[2017-11-22 12:46] nlsdfnbch commented on #92
Hey @Michshelle,

What do your logs say?
Could you log everything from `DEBUG` and up and post it? That's the fastest way I can help you out.

Cheers,
Nils

[2017-11-22 13:17] Michshelle commented on #92
Hello @nlsdfnbch,

Just solved. `order_cancel(id=5369387749)`.
BTW, I tried the log myself.  But with those compressed code, I cannot spot the problem from the log.  Do you have a way to decode it?  I used to find gzip lib and tried `decompress()`, it didn't not work.
`DEBUG:websocket:send: b'\x88\x82\x81VNl\x82\xbe'`

[2017-11-22 13:21] nlsdfnbch commented on #92
Only the first few lines are bytes - basically everything that starts with `DEBUG:websocket:`, since those are log calls from the `websocket` library. There should be human-readable log calls later on, starting with `DEBUG:btfxwss` and similar.

[2017-11-22 13:25] Michshelle commented on #92
No problem.  I saw the rest readable log, only these code made me puzzled.

[2017-11-22 13:25] #92 closed

[2017-11-22 15:35] pchandra-uchicago commented on #91
How do i receive updates on the account channel. On the trade channel we do as below
wss.authenticate()
wss.subscribe_to_trades('LTCUSD')
trades = wss.trades('LTCUSD')
while not trades.empty():
   trades.get()

I don't see a function in btfxwss that will provide me updates on account channel.

[2017-11-22 15:51] nlsdfnbch commented on #91
As soon as you authenticate, you are subscribed to the `account info` channel, [as defined in the Bitfinex documentation](https://bitfinex.readme.io/v2/docs/ws-auth).

To see these messages, the following code will do what you want:
[code]

[2017-11-28 08:51] Closius commented on #51
I still have this error. I created a python file for collecting data (candles) of one PAIR. Then I created a bash script for running (with nohup) my python file many times with different pairs.

When I run my bash script with lets say 4-5 pairs - its ok. But if I run it with 10 pairs first 4-5 pairs are running ok but next pairs raises an error like `[9]-  Exit 1                  nohup python3 $CO

[2017-11-28 08:56] nlsdfnbch commented on #51
That is likely the case, yes - Bitfinex allows a maximum of 4-6 Requests per minute to the Websocket API, if I remember correctly. So You should connect once, and send a channel subscription for each pair on that one connection.

[2017-11-28 09:05] Closius commented on #51
@nlsdfnbch Thank you Nils!
I didn't find any limitation of requests for websocket on official website.
Do you know if there is some limit for channel subscription? I mean how many pairs I can subscribe per one ws connection.

[2017-11-28 09:15] nlsdfnbch commented on #51
@Closius, I dug through my mails and found a ticket I had opened with them a few months ago, that's where I got the limit from:

So It's 15 per minute, but still, that might happen pretty quickly if the client is executed multiple times and tries to reconnect.

You can subscribe to every single channel with all kinds of configurations - I haven't hit a limit for this on a single connection yet (an

[2017-11-28 10:28] Closius commented on #51
@nlsdfnbch Thank you!

[2017-11-28 13:21] mejmo opened #93 "How can I subscribe only to specific channel?"
It is not very efficient to subscribe to all channels on Bitfinex in Websocket connection. Is there any option to subscribe just to specific channel? (order book etc.)

[2017-11-28 13:27] mejmo commented on #93
Please delete, just saw readme :)

[2017-11-28 13:27] #93 closed

[2017-12-03 23:28] Changsung opened #94 "Error Handler Reconnection"
Hello @nlsdfnbch,

I have a reconnection issue for an unknown error code in error_handler in connection.py.
When the socket receives an unknown error(In my case, {'msg': 'user: invalid', 'code': 20000} ) in a message, the connection should be reconnected. But there is no reconnection code in the current version.
I think `self.reconnect()` should be added when error handler occurs a key exception.

[2017-12-04 09:03] nlsdfnbch commented on #94
Hey @Changsung ,
thanks for reporting this.
However, this is a bug - there should be only a reconnect attempt if we know why we're reconnecting (this includes timeouts, server errors or reconnect messages from the API).
For your case, this simply means we're missing a handler for `code:"2000"`. This doesn't require a reconnect, as the message indicates that the `user` parameter is invalid - hence,

[2017-12-04 10:20] Changsung commented on #94
Hello @nlsdfnbch
Thanks for your comment. I read over the fix that you just committed in connection.py (https://github.com/nlsdfnbch/btfxwss/blob/master/btfxwss/connection.py#L400).
In my case, the user invalid error was distributed into error_handler and logged as an error, not info_handler. It means that the event data whose error code is 20000 is categorized as an event, not an info. So, I thin

[2017-12-04 10:28] Changsung commented on #94
I attach the log below for your information.
`ERROR:btfxwss.connection:Received unknown error Code in message {'msg': 'user: invalid', 'code': 20000}! Reconnecting..`
Thanks

[2017-12-04 10:48] nlsdfnbch commented on #94
Hm. You're right - since I filter for `code` to assert if a message is an error, this ends up in the error handler. However, according to a ticket I opened with them a while back, `1X` are errors, `2X` are info messages.
But I saw just now that they apparently changed that - since that pattern does not hold true anymore, according to their glossary. Sorry about that! I'm on this right now.

As to

[2017-12-08 10:51] csrocha opened #98 "Raise an KeyError exception when _info_handler recives a version message."
Hi, I test the code that you share in the README. I execute it and it returns this error:

[code]

The data variable have the value:

`{'version': 2}`

[2017-12-08 11:27] #94 closed

[2017-12-08 11:31] nlsdfnbch commented on #98
Merged and uploaded to pypi! Thanks for the contribution!

[2017-12-08 11:31] #98 closed

[2017-12-11 11:08] kjgd opened #100 "Info messages result in KeyErrors"
Getting the following error:
    File "/home/user/Bots_BitMEX/btfxwss/connection.py", line 407, in _info_handler
    self.log.info(info_message[data['code']])
    KeyError: 20051
    2017-12-11 00:44:23,619 - ERROR - root.btfxwss.connection - Unknown Info code 20051!

I'm pretty sure the fix is to change the dictionary keys from strings to ints:
https://github.com/nlsdfnbch/btfxwss/blob/c3520e1da3

[2017-12-13 19:14] kootenpv opened #101 "How to read "calc" from websocket"
[code]

Afterwards, nothing happens. I believe I have to react to some kind of event from the websocket to get the calc, but I do not know how to find it? The only clue is "calc" but does not appear anywhere else in the code base. What am I missing?

[2017-12-14 07:24] nlsdfnbch commented on #101
Hey @kootenpv,
thanks for contributing!

In the current `stable` version on pypi, this isn't correctly implemented - there ought to be a queue for this, which you can `get()` from. In the current `dev` release we've merged all account mesages into a single queue - this includes responses from calls to `calc()`.

So either wait for the next release, or install the `dev` version via `pip install --p

[2017-12-14 18:17] andressommerhoff opened #103 "Allowing BtfxWss to connect through a proxy"
BtfxWss doesn't allow to connect through a proxy. I issued a pull request [(102)](https://github.com/nlsdfnbch/btfxwss/pull/102) to make Proxy connections possible.

Code change was simple: just needed to pass the proxy arguments to the run_forever() function of websocket. The parameters are collected by BtfxWss class when initiated.

Some example of the usage after merging the pull request:

Simp

[2017-12-14 23:10] kootenpv commented on #101
Thanks! So I did, and it still took me some time to figure out, but with the new version I did this:

[code]
I get as result:

[code]

What is going wrong?

[2017-12-15 06:47] nlsdfnbch commented on #101
Have a look at the docs:
https://bitfinex.readme.io/v2/reference#ws-input-calc

[2017-12-15 06:50] nlsdfnbch commented on #103
merged! Thanks!

[2017-12-15 06:50] #103 closed

[2017-12-15 08:14] kootenpv commented on #101
I've also tried:

wss.calc(  [
    ["margin_sym_tBTCUSD"],
    ["position_tBTCUSD"],
    ["wallet_margin_BTC"],
    ["wallet_funding_USD"]
  ])

but that doesn't work. Could you please try it yourself? Let me know if you find some code that works to get any kind of calculation done succesfully (make sure you empty the queue, use your calc, and do a `wss.account().get()`), I believe this is a bug.

[2017-12-15 08:21] kootenpv opened #104 "Missing attributes in dev version"
[code]

a lot of properties are missing, such as "wallets".

Strangely, doing an "authentication" does fill up `wss.account().get()` with results resulting from 'ws'
(wallets) channel.

[2017-12-15 08:29] nlsdfnbch commented on #101
Since the error message is returned by Bitfinex, you should submit a ticket with them.

[2017-12-15 08:30] nlsdfnbch commented on #104
Yes, this is intentional. All authenticated channels have been merged into the accounts queue.

[2017-12-15 08:30] #104 closed

[2017-12-15 08:48] kootenpv commented on #101
Finally I got something that works:

[code]
So to get concrete, I would like to calculate how much I could buy at a certain price in my exchange wallet (https://docs.bitfinex.com/v2/reference#rest-auth-calc-bal-avail). How can I do this :)?

[2017-12-15 08:58] kootenpv commented on #101
In the end I would just like to do either a limit or market new order with the maximum possible amount. How could that be done using btfxwss?

[2017-12-15 11:04] nlsdfnbch commented on #101
Oh. Well in that case you're using the wrong method!
[`BtfxWss.new_order()`](https://github.com/nlsdfnbch/btfxwss/blob/b4419e326a4d9e82af7f02e39ce1b099153d93bd/btfxwss/client.py#L377) if what you want to use.

[2017-12-15 12:11] kootenpv commented on #101
@nlsdfnbch The problem is that for that method I need to calculate an amount (which is based on getting your account balance + the current price + however much bitfinex takes = you need to use "calc available" is what I understand? I don't see how in new_order I can do "buy as much as you can at price X"

[2017-12-15 12:17] nlsdfnbch commented on #101
@kootenpv , Sorry, I can't help you with that. However, using the REST API to query the amount available via the method you mentioned and then submitting an order appears to be the way to go.

[2017-12-17 12:38] seravitae opened #105 "objects for subscribing to funding channels?"
Hi, sorry if this is the absolute wrong place to put this, but I can't for the life of me seem to see in the code anywhere that any functions were created for subscribing to channels for funding, such as 'fos', 'fcs', 'fls'...

is this something not yet completed?

Or alternatively can someone help me work out a generic method for this? I'm very new to this and cannot quite understand the identifi

[2017-12-18 16:22] kintzhao opened #106 "How to test it, i use the Usage test code"
[code]

[2017-12-18 16:49] nlsdfnbch commented on #106
You have a syntax error in your code. Could you post it ? Running the code from the `README.md` works for me without issues.

[2017-12-19 00:55] kintzhao commented on #106
yhzhao@X550JD:~/blockChain/btfxwss/tests$ ls
client_tests.py  logging  mytest.py  sys  test.py  time  unittest
yhzhao@X550JD:~/blockChain/btfxwss/tests$ chmod 777 test.py
yhzhao@X550JD:~/blockChain/btfxwss/tests$ ./test.py
from: can't read /var/mail/btfxwss
./test.py: line 7: syntax error near unexpected token `('
./test.py: line 7: `log = logging.getLogger(__name__)'

`import logging
import time

[2017-12-19 06:23] kintzhao commented on #106
I installed  btfxwss  by pip3.

kint@ubuntu:~/blockCoin/btfxwss/tests$ python test.py
Traceback (most recent call last):
  File "test.py", line 5, in <module>
    from btfxwss import BtfxWss
  File "/usr/local/lib/python3.4/dist-packages/btfxwss/__init__.py", line 1, in <module>
    from btfxwss.client import BtfxWss
  File "/usr/local/lib/python3.4/dist-packages/btfxwss/client.py", line 6, in <mo

[2017-12-19 07:20] nlsdfnbch commented on #106
This library requires python 3.5 or later. Earlier versions won't work.

[2017-12-19 07:20] #106 closed

[2017-12-31 15:36] crackedit opened #107 "Invalid syntax (btfxwss 1.1.16)"
Importing BtfxWss causes a SyntaxError:

`from btfxwss import BtfxWss`

`Traceback (most recent call last):
  File "BitfinexWS.py", line 1, in <module>
    from btfxwss import BtfxWss
  File "/usr/local/lib/python3.4/dist-packages/btfxwss/__init__.py", line 1, in <module>
    from btfxwss.client import BtfxWss
  File "/usr/local/lib/python3.4/dist-packages/btfxwss/client.py", line 6, in <module>

[2018-01-01 13:36] JunaidAthar commented on #107
I had the same issue when I was using Python2.7. Did you make sure you're using Python3?

[2018-01-01 14:02] crackedit commented on #107
I sure am using Python 3.4.

[2018-01-02 09:32] nlsdfnbch commented on #107
All my libraries only support python 3.5+ - if you'd be willing to volunteer time and make it compatible with earlier 3.x versions, I will gladly merge your PR!

[2018-01-02 09:32] #107 closed

[2018-01-05 12:13] nlsdfnbch commented on #100
Sorry for the late response - I fixed this on the dev branch!
Thanks for reporting this!

[2018-01-05 12:13] #100 closed

[2018-01-05 12:20] nlsdfnbch commented on #105
Hey @seravitae,

Using the `rc` version (install this via `pip install --pre btfxwss` or installing the `dev` branch from the github repo), you can find this information after authenticating and grabbing the queue from `BtfxWss.account`

[2018-01-05 12:20] #105 closed

[2018-01-07 12:59] AlexMout opened #109 "Issue KeyError from wss.tickers('XXX')"
I get the same error as people in #51 and #40 (raise KeyError(pair) KeyError: 'BTCUSD') when launching the chunk of code provided on the main page of the project.
I tried with other tickers, adding a 't' at the beginning, other function for order books and candles but the same issue arises.
I tried with the master branch and the dev branch, I'm running Python 3.6.

Thanks a lot!

[2018-01-07 14:06] nlsdfnbch commented on #109
Hey @AlexMout ,
I can't reproducde this issue with `dev` - could you post your code and the `test.log` file ?

[2018-01-07 14:33] AlexMout commented on #109
Thanks for your short answer!

Here is the log:

INFO:btfxwss.connection:Initialized Client on API Version 2
Traceback (most recent call last):
  File "/Users/alexmouturat/Desktop/website/Articles_Python/exchange_interaction.py", line 27, in <module>
    ticker_q = wss.tickers('BTCUSD')
  File "/Users/alexmouturat/anaconda/lib/python3.6/site-packages/btfxwss/client.py", line 105, in tickers
    ra

[2018-01-07 14:34] Dulcimer0909 opened #110 "Updating wallet"
Hello,

I am trying the following. Any help would be appreciated.

I want to store my wallet in two variables but cant get it to do so.

wallet = wss.wallets.get()
print(wallet)
newwallet = wss.wallets.get()
print(newwallet)

I can print the wallet without problem. But when the program arrives at new wallet, it hangs. Any suggestions?

Regards,
Dulcimer

[2018-01-07 18:43] nlsdfnbch commented on #109
Hey @AlexMout ,
While the call traceback helps as well, there should be a `test.log` in the directory you execute the code from - that's the log I need :)

the easiest way to install it is to download the `dev` branch and run `python setup.py install` from within the downloaded repository.

[2018-01-07 18:47] nlsdfnbch commented on #110
Hey @Dulcimer0909 ,
thanks for using my library!

The reason this call is blocking is because there hasn't any data arrived on this channel after the last `get()` call. You can avoid this by passing `get(blocking=False)` - but beware that this returns `None` if there is no data available on the `Queue` object returned by `wss.wallets`.

[2018-01-07 19:52] AlexMout commented on #109
Thanks @nlsdfnbch

I tried to reinstall the dev branch but the error is still the same. Here is the test.log :

INFO:btfxwss.connection:API version: 2
DEBUG:btfxwss.client:_subscribe: {'event': 'subscribe', 'channel': 'ticker', 'symbol': 'BTCUSD'}
INFO:btfxwss.connection:Connection opened
INFO:btfxwss.connection:API version: 2
DEBUG:btfxwss.client:_subscribe: {'event': 'subscribe', 'channel': 'tic

[2018-01-08 04:28] Dulcimer0909 commented on #110
Thank you for your answer. A slight correction to your answer though.
get(blocking=False) is actually get(block=False).

Regards,
Dulcimer

[2018-01-08 06:42] #110 closed

[2018-01-08 06:42] #101 closed

[2018-01-10 22:59] jrhee17 opened #111 "Can't figure out how to block until subscription is complete"
In the example provided, the code waits until subscription is complete by manually waiting 10 seconds

    # Subscribe to some channels
    wss.subscribe_to_ticker('BTCUSD')
    wss.subscribe_to_order_book('BTCUSD')

    # Do something else
    t = time.time()
    while time.time() - t < 10:
        pass

Is there a way I could block until a subscription event is given back?
For instance, I've bee

[2018-01-11 08:21] nlsdfnbch commented on #111
@jrhee17,  thanks for bringing this to my attention - specifically the while loop to wait because that is some grade A horseshite code. :'D a simple time.sleep(10) would suffice as well.

As for the wait on subscription, what's the problem with using the block parameter?

[2018-01-12 19:24] Leobouloc opened #112 "Dealing with [Errno 104] Connection reset by peer ?"
I use this package to connect to regularly fetch orderbooks (fetching 7 pairs consecutively every 30 seconds). I usually encounter the following error after several minutes:

[code]

The log then shows the repetition of the following lines (indefinitely):
[code]
The API works fine when I close the connection and re-instanciate `BtfxWss`.

As these errors are not raised, I cannot catch them. I have

[2018-01-13 06:17] nlsdfnbch commented on #112
Hey @Leobouloc  ,
Its hard to tell with what you've given me,  but generally yes - if the connection is reset,  the `Connection` object will try indefinitely to reconnect. There currently is no way to check this directly from the client (although you could check the is_connected attribute, but that's not really efficient).
I can add a `max_retries` attribute to stop the connection from reconnectin

[2018-01-13 19:05] IlyaSleptsov opened #113 "Dealing with time lags"
Hello, @nlsdfnbch.
Thank you very much for this library. I use it to parse data in some intervals. For example, every 20 seconds I do a responce to library to get some tickers info:
[code]
This code pulls new values exactly every 20 seconds taking into account the time for working script. But sometimes I get an error that "time.sleep cannot be negative". It means that this code:
[code]
works more

[2018-01-14 05:00] jrhee17 commented on #111
I believe we are on the same page, I would like to simply call the subscribe method and not handle waiting for subscription to be complete.

i.e) the client code could be changed from

    wss.subscribe_to_ticker('BTCUSD')
    wss.subscribe_to_order_book('BTCUSD')

    # Do something else
    t = time.time()
    while time.time() - t < 10:
        pass

    # Accessing data stored in BtfxWss:

[2018-01-14 15:14] eSanity commented on #113
Changed `time.sleep(20 - (time.time() - start) )` to `time.sleep(max(0, 20 - (time.time() - start)))`
This will at least stop the error from happening.

[2018-01-14 15:43] jrhee17 commented on #111
Resolved with PR #115

[2018-01-14 15:43] #111 closed

[2018-01-14 21:01] IlyaSleptsov commented on #113
@eSanity Thank you for answer. This solution works but does not provide 20-seconds synchrony. This is very sensitive when working with several exchanges. My question was another: is it really normal that this exchange provides such large gaps like [ 0.1 second - 34 seconds ]. Usually, exchanges give response in [0.1 second - 0.5 second]

[2018-01-14 21:50] nlsdfnbch commented on #113
Does this happen frequently, or just on startup? It may be possible that the subscription hasn't been processed yet (leaving you with an empty queue and your `get() ` blocking,  which is what causes the delay)

In other words, if it's stuck on a get()  call,  that's because no new data has arrived on that queue since the last time you queried it. A solution around this would be to pass ` block=fal

[2018-01-15 20:56] Leobouloc commented on #112
Hey @nlsdfnbch. I logged this at `DEBUG` but there are no more logs than those that I provided above..

I'll look into using `_connected` as a temporary fix.

Adding `max_retries`, wouldn't really help here; with the current behavior, I would rather have the error raised as soon as the connection is lost, but I suspect there is an problem with the re-connection feature since I am able to connect t

[2018-01-15 21:20] nlsdfnbch commented on #112
It should be a full snapshot - it essentially opens an entirely new session with Bitfinex.

Well, setting `max_retries=0` would raise the error directly

Thanks, that's much appreciated! I'll let you know as soon as I get time to properly look into this!

[2018-01-15 21:25] nlsdfnbch commented on #109
Hey @AlexMout,
Sorry for the slow reply.
Has this issue persisted? I'm getting the feeling it might be related to bitfinex, since your log indicates that you never actually received a subscription confirmation for your subscription to the ticker channel.

[2018-01-15 23:18] IlyaSleptsov commented on #113
@nlsdfnbch Thanks a lot, it works! Problem was in queues, your solution helped me very much.

[2018-01-16 07:17] #113 closed

[2018-01-24 21:35] mejmo opened #117 "How to get data from all pairs"
I would like to catch all pairs (candlers, orderbooks, everything). So what I do is:

        data = json.loads(urllib.request.urlopen("https://api.bitfinex.com/v1/symbols").read())
        pairs = [x.upper() for x in data]

        for pair in pairs:
            self.wss.subscribe_to_trades(pair)
            self.wss.subscribe_to_ticker(pair)
            self.wss.subscribe_to_order_book(pair)

[2018-01-26 09:13] nlsdfnbch commented on #117
Hey @mejmo  ,
For the current release that is indeed the case - there is no single queue to access all data. I'm working on a solution for this on branch using zmq,  but this isn't in a condition to be tested just yet.
You'll have to fix this locally or wait for the next release.  Sorry!

[2018-01-26 13:13] tux-00 opened #118 "Websocket returns wrong data"
I recently noticed that sometimes the websocket need to be restarted.

Check my database :
[code]

I restarted the websocket at 2018-01-26T13:03:00.037050112Z.
You can notice that the price suddenly fit the real market price after restart.

Maybe this issue can help : https://github.com/bitfinexcom/bitfinex-api-node/issues/37

[2018-01-27 17:07] Leobouloc commented on #112
I haven't been able to reproduce this error for some time; not sure what was going on...

[2018-01-27 18:19] Leobouloc opened #119 "Problem with orderbook data ?"
I am using `btfxwss` to regularly fetch orderbook data. On the past twelve days, the connection has been reset about 50 times. At each reset, I receive a new snapshot, and notice that **my version of the orderbook was wrong** with values being shifted up or down both for the bid and ask values (but the gap always seems coherent)...

I believe I properly implemented the algorithm (code below) descr

[2018-01-28 00:03] EUA opened #120 "Not connect on Armhf"
On OrangePiZero, using armbian
Where could be problem?
Any hint to debug?

[code]

[2018-01-28 00:32] EUA commented on #120
It's "websocket/websocket-client" issue.

I installed websocket and websocket-client from pip3.
But Installing websocket from APT and websocket-client from pip3 solves the problem.
Thanks.

[2018-01-28 00:32] #120 closed

[2018-01-28 08:26] #117 closed

[2018-01-29 11:59] nlsdfnbch commented on #119
Hey @Leobouloc ,

`btfxwss` does not handle mainting an orderbook. It only stores the messages you need to process. This means, that you only ever process a single entry update when you call `book.get` - instead, you should call `book.get()` in a separate thread in a `while True` loop, in order to keep it up to date OR process all data in the queue (although this may or may not  finish, depending

[2018-01-29 12:02] nlsdfnbch commented on #118
Hey @tux-00,
not sure how the linked issue can help - raw and aggregate book messages are handled separately, and data is not modified. This looks like a bitfinex issue to me ?

[2018-01-29 12:04] nlsdfnbch commented on #112
This may be due to too many connects - might have been that you've restarted the client too many times over a short period ? Eitherway, since it's not reproducable, I'll close this.

cheers!

[2018-01-29 12:04] #112 closed

[2018-01-29 12:04] nlsdfnbch commented on #109
No response, assuming issue resolved.

[2018-01-29 12:04] #109 closed

[2018-01-29 12:05] #48 closed

[2018-01-29 12:15] Leobouloc commented on #119
Hi, I am not sure which part I got wrong. Shouldn't the code below (the code that is executed when I call `book.get`) cover what you are saying ?
[code]

(`books_q` is an object initiated by: `wss.books(pair)`)

I believe what I am doing is: every 20 seconds, call `get`; `get` takes all the updates that were accumulated during the past 20 seconds (until `sekf.books_q.empty()`) and uses them to upd

[2018-01-29 12:42] nlsdfnbch commented on #119
Ah, my bad.

This could be a race-condition - since you update the book only when you call `get()`, by the time it's done the order book may have changed already, hence you end up with different books when you received the snapshot.

Check if this also happens if you update the book continuously - it may still happen (updating continuously does not eliminate race conditions), but hopefully less of

[2018-01-29 12:48] tux-00 commented on #118
Ok if you think that's a bitfinex issue, you can close this issue.

[2018-01-29 13:35] #118 closed

[2018-01-30 14:22] Leobouloc commented on #119
Hi Nils, I don't believe this is a speed issue as my code always exits the `while` loop (I write only once I exit the `while` loop). Also the changes I observe (10% in the `min(ask)` or `max(bids)`) are not the type of changes that usually occur within 20 seconds (or at least not that frequently); I assume my issue is due to a slow drift in my orderbook but I can't figure out why :(

One surprisin

[2018-02-16 06:50] dantimofte opened #121 "Unknown Info code 20051!"
Problem Description :
When getting response from api data looks like this :
data : {'code': 20051, 'msg': 'Stopping. Please try to reconnect'}

When trying to print the error and reconnect it's searching for key as a number :
![image](https://user-images.githubusercontent.com/4211982/36296428-e9335d84-12f5-11e8-8bf7-3973c53ae61e.png)

while the dictionaries have the key as a string :
![image](http

[2018-02-19 22:18] krzysztof-nowak commented on #121
second that :)

[2018-02-21 08:48] nlsdfnbch commented on #121
This has been fixed on `dev`! The fix will be merged into `master` and pypi on the next release.

[2018-02-21 08:48] #121 closed

[2018-02-21 09:01] dantimofte commented on #121
![image](https://user-images.githubusercontent.com/4211982/36471245-70e4b81e-16f6-11e8-81c6-669e10c627ef.png)
on the dev branch i can see that only the info_message dict has numeric keys. the codes dictionary should also have numeric keys

[2018-02-27 13:16] archienorman11 opened #122 "Clarification of Raw Orderbook Message Logic"
Hi, thanks very much for this tool - its very helpful. I realise the scope of this project does not include building orderbooks, but perhaps someone could help me understand a couple of things with the bfx websocket api `raw orderbook messages`:

1: `when PRICE = 0 then you have to delete the order` - does this only mean that an order has been cancelled? Or are they other reasons why the order mig

[2018-03-01 16:18] nlsdfnbch commented on #122
You need to check `amount`, not `price`. As for reasons of cancellation, you'll best ask Bitfinex directly, but generally I would assume cancelling, or filling would both cause removal from the book.

Generally, yes.
You can essentially use a python dictionary to keep track of the book and should be fine.

[2018-03-01 16:18] #122 closed

[2018-03-04 13:26] ikarin opened #124 "How can I program a daemon?"
Hello. I'd like to use this library. 24h I always want to keep getting the price. However, when you look at the sample, the program will end once you get the data. How can I keep acquiring data in an infinite loop?
so is there run_forever function ?

[2018-03-05 08:25] nlsdfnbch commented on #124
A daemon is a service that runs in the background - there are many great tutorials and articles on how to achieve this behaviour in python, thus I will not repeat those here.

However, if you'd like to infinitely run the example code replace the `with` block in the example with this:

[code]

[2018-03-05 08:25] #124 closed

[2018-03-14 11:56] xiispace opened #125 "Reconnect Error"
hi team, i got the following error:
[code]
should check and close the `self.socket.sock` before `self.socket.run_forever`

[2018-03-14 12:48] #125 closed

[2018-03-30 06:20] AdityaNayak opened #126 "Authenticated calls"
Great work @nlsdfnbch

Anytime timeline on including the other end points?

[2018-03-30 07:42] dantimofte opened #127 "socket is already open/closed"
Hello,
I have a issue and i don't know how to approach it to find a fix.
The logs look like this :
![image](https://user-images.githubusercontent.com/4211982/38129239-e3bb5744-3406-11e8-9458-14f1cbfe1d84.png)

![image](https://user-images.githubusercontent.com/4211982/38129255-ee13c6ea-3406-11e8-8e9b-a5f6188f2353.png)

Did anyone hit this problem ? Any suggestions on how to fix it ?

Thank you

[2018-04-05 16:31] Leobouloc opened #128 "Incomplete book ?"
I use the API to fetch the orderbooks for BTCUSD with the following parameters:

[code]
I would expect my book length to always be 99 or 100 both for bid and ask. Yet when I empty the book updates using the code below, I often end up with book lengths of 85, 86 ... If I try to loop the code below to wait until I get a full book, I often have to wait up to 5 or 6 seconds before my book representati

[2018-04-06 15:39] clintonlover opened #129 "It takes long time to receive message after enabling checksum"
Hi team,
I find it takes much longer time to receive messages when enabling checksum, than that without checksum.
Here are the code I modified in client.py

        def config(self, decimals_as_strings=True, ts_as_dates=False,
               sequencing=False,checksum =False, **kwargs):
        """Send configuration to websocket server

        :param decimals_as_strings: bool, turn on/off decimals

[2018-04-11 07:40] clintonlover commented on #129
It's not the checksum that causes message long latency. I made a mistake to run the program in different environment.
Actually, the latency with checksum enabled could be the same as the one without checksum.
Hopefully it does not disturb you.
thanks.

[2018-04-11 07:40] #129 closed

[2018-04-11 15:30] nlsdfnbch commented on #128
Hm. If I understand correctly, some entries are also entry removals. So technically, there *may* be 100 entries.

have you checked if values has a length of 100 ?

[2018-04-11 15:33] nlsdfnbch commented on #127
Hey @dantimofte ,
thanks for contributing!

This could be an issue with too many connection attempts - could you explain at what time you see this error or how to reproduce it ?

[2018-04-11 15:35] nlsdfnbch commented on #126
Hey @AdityaNayak ,
sorry for the slow reply.

The authenticated channels *should* be working, as they're already implemented - do they not work for you?

[2018-04-11 15:38] Leobouloc commented on #128
At the snapshot, I always have 100 values as far as I recall. For updates, I always get a single update per message. So it makes sense that my orderbook does not always have 100 values. But I would expect the following updates to make up for any deletion. Yet I often have to wait 5 or 6 seconds to get a complete orderbook back (with additions to the orderbook)... Does this seem like the expected b

[2018-04-11 15:48] dantimofte commented on #127
Hello,

When installing the  library either with pip3 or python3 setup.py install it installs the latest version of websocket , when i had that error the latest was 0.47.0.

I had another environment that was stable where version 0.46.0 is installed. After replacing 0.47.0 with 0.46.0 the error did not come up again.

Regards

[2018-04-12 17:53] pegazik80 opened #130 "Reconnecting client"
I am not sure whether other people see the same issue but from time to time my client becomes stale and data stops arriving.
I have tried two approaches to deal with this problem in the main loop:
Approach A) - eventually resulted in an error "too many open files", unfortunately the log that contained exact exception has been deleted.
[code]
Approach B) - There is no exception but after disconnect

[2018-04-13 21:15] pegazik80 commented on #130
I am sorry, the problem I reported was actually originating somewhere else. The code Approach A) is working well, I already saw few cases of spontaneous dis- and re-connections using this code.

[2018-04-13 21:15] #130 closed

[2018-04-17 11:03] nlsdfnbch commented on #128
I'd say it's expected behaviour - since i would assume its alway 100 updates, not actualy entries. Btfxwss just passes the messages though, so perhaps you should check with bitfinex - just to be sure :)

[2018-04-17 11:04] nlsdfnbch commented on #127
So this is a websocket version issue. I'll look into it, but it may be a while before I get to work on it. If anyone wants to pick this up, go ahead!

[2018-04-20 10:48] shardulR1 opened #132 "when i try to connect to socket i m getting this error"
==================

Traceback (most recent call last):
  File "/home/pi/Desktop/finalclient.py", line 12, in <module>
    ws.connect("Actual socket address'")
  File "/usr/local/lib/python2.7/dist-packages/websocket/_core.py", line 220, in connect
    self.handshake_response = handshake(self.sock, *addrs, **options)
  File "/usr/local/lib/python2.7/dist-packages/websocket/_handshake.py", line 69,

[2018-04-25 06:51] yffMing commented on #125
@xiispace  I have the same problem as you, can you tell me how to solve the problem?

[2018-05-04 09:20] vfvgc opened #133 "Info-message codes type mismatch"
# Info messages from server not processed right

### Steps to Reproduce

1. Connect; subscribe to some channels.
2. Keep consuming all events.
3. Wait for an [info message](https://bitfinex.readme.io/v2/docs/ws-general#section-info-messages) such as "20051 : Stop/Restart Websocket Server"

### Actual Results

Exception thrown before getting to call specific info handler such as `self.reconnect`.

[2018-05-07 22:40] kirillkuzin opened #134 "Cant create SELL order. Only BUY order."
Hi guys.

I try place sell order, but i can create only buy order. My code:

`def createOrder(_symbol, _side, _rate):
    order = {
            'cid': 12345,
            'type': 'EXCHANGE LIMIT',
            'symbol': 'tBTCUSD',
            'side': _side,
            'amount': '0.002',
            'price': _rate
            }
    bitfinexBot.new_order(**order)
`

...then _side = 'sell'.
I get mess

[2018-05-07 22:44] kirillkuzin commented on #134
This is solved by putting the '-' before 'amount' value.

[2018-05-07 22:44] #134 closed

[2018-05-08 08:00] Vishant-Siddharth opened #135 "can't import module"
from btfxwss import BtfxWss
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/home/devesh/env/buyucoin_env/lib/python3.4/site-packages/btfxwss/__init__.py", line 1, in <module>
    from btfxwss.client import BtfxWss
  File "/home/devesh/env/buyucoin_env/lib/python3.4/site-packages/btfxwss/client.py", line 6, in <module>
    from btfxwss.connection import WebSocketCo

[2018-05-08 10:06] nlsdfnbch commented on #135
you require python 3.5 or later to use `btfxwss`

[2018-05-08 10:06] #135 closed

[2018-05-11 10:39] vottghern opened #136 "Exchange Market order"
Hello!

Do you can show me how make a Exchange Market order? And Exchange Limit, please!

Thanks!

[2018-05-14 15:57] nlsdfnbch commented on #136
Using btfxwss:
[code]
If you want to place an `ask` order, prefix the amount with `-` like so:
`'amount':'-0.0002`

[2018-05-14 15:57] #136 closed

[2018-06-04 12:47] kariya2 opened #138 "Could not find thread (Ticker WS)"
Some random tickers are being completely unresponsive.  Certain symbols (that vary) return an empty queue for about a minute.

Wondering whether this has anything to do with it

Could not find thread pid_7260_id_4380072816
Available: ['pid_7260_id_4305883208', 'pid_7260_id_4343877248', 'pid_7260_id_4343876296', 'pid_7260_id_4343875960', 'pid_7260_id_4346607432', 'pid_7260_id_4347032856', 'pid_7260

[2018-06-04 19:37] numitus opened #139 "Multi thread bug"
https://github.com/Crypto-toolbox/btfxwss/blob/8d4769b2ba70da1cec716de2177a57c1ae162ed4/btfxwss/connection.py#L146-L160

if reconnect and disconnect set at the same time we get infinity loop. it is possible when we disconnect and disconnection raise connection error. disconnect_called=True; reconnect_required=True. and loop never break

[2018-06-07 12:21] nlsdfnbch commented on #139
Hey @numitus ,
excellent find! Merging #140 to take care of this. Thanks for the fix!

[2018-06-07 12:21] #139 closed

[2018-06-08 07:21] scoupafi commented on #127
Are there any updates on this?

[2018-06-08 09:10] AdmiralThrawn commented on #133
Been seeing the same occur over the past couple of days:
![image](https://user-images.githubusercontent.com/39618306/41149648-087a32f6-6b04-11e8-8901-aa3b5ec187f7.png)

[2018-06-08 09:33] dantimofte commented on #127
I don't know how to fix the installer to make sure it install a good version of websocket .

What i do is that I make sure i have a good version installed after installing btfxwss :

pip3 uninstall websocket-client
pip3 install websocket-client==0.46.0

[2018-06-08 09:36] vfvgc commented on #133
I believe master is [fixed](https://github.com/Crypto-toolbox/btfxwss/commit/8d4769b2ba70da1cec716de2177a57c1ae162ed4) already.

[2018-06-08 09:39] AdmiralThrawn commented on #133
Agreed. Was seeing the error because the package version obtained via pip does not reflect these changes.

[2018-06-08 10:32] AdmiralThrawn commented on #127
Same error occurs with v0.48.0 of websocket-client as well. Going to try v0.46.0.

[2018-06-08 10:34] scoupafi commented on #127
This is also frustrating, because due to the way Btfxwss is built, I can't handle/except the exception during the runtime of my application.

[2018-06-17 18:12] dasein108 opened #141 "Can't create new order"
I can receive auth info like opened position, but can't create any new order.
Cancelation of order created thru REST API works, but no way to create new.
Maybe I'm doing something wrong? Help me please.
Sample code:
[code]
Output:
[code]

[2018-06-19 09:30] #133 closed

[2018-06-27 06:59] dasein108 commented on #141
Resolved by:
                payload = {"cid": 12345, "type": "LIMIT", "symbol": "tBTCUSD", "amount": '1.0',
                           "price": '60.0',
                           "hidden": 0}

                self.wss.new_order(**payload)

[2018-06-27 06:59] #141 closed

[2018-07-06 05:58] petr-fedorov commented on #109
For those who are still confused by this or a similar subscription issue.  This piece of code

    wss.subscribe_to_ticker('BTCUSD')
    ticker_q = wss.tickers('BTCUSD')

will not work because you have to wait for the 'subscribed' response of the exchange before calling ` ticker_q = wss.tickers('BTCUSD')`  (i.e. there is no queue to read from until the exchange has confirmed subscription).

This w

[2018-07-10 13:41] 12bogdan03 opened #144 "Don't receive updates when subscribed to 9 channels"
Hello.
I have a problem with receiving updates when subscribed to many channels. The issue is that I need to subscribe to 3 order book updates, 3 ticker updates, and 3 trades updates (total - 9 channels). And I just stop receiving updates after like several minutes of normal work with no errors (or keep receiving them, but with huge delay). So can you help me to find out what's wrong ? Are there a

[2018-07-12 09:51] AndrejLischishin opened #145 "'Queue' object is not callable"
`wss.authenticate()
positions_q = wss.positions()
print(positionss_q.get())`

added to README code and error is: 'Queue' object is not callable

[2018-07-12 21:33] EpicAAA commented on #145
I've also been working on this most of today. With minimal success, I've used this.
[code]
It may be that your ```wss.positions()``` should be ```wss.positions``` and I also see an extra s on ```positionss_q.get()``` but that's probably just a typo because you would get syntax errors,

The problem with this implementation that I can't currently figure out is I can get one initial snapshot of my po

[2018-07-13 12:53] AndrejLischishin commented on #145
I have now the same issue as you, there is smth similar in issue #101 , take a look at it, I ll look at it later today

[2018-07-13 21:34] EpicAAA commented on #145
I got quite a bit further.

1. You need to be in the dev branch, while issue #101 is from 7 months ago the main branch hasn't been updated to allow access to the wss.accounts() queue.
2 The calc function doesn't work as is so you need to use the send function in the websocket connector to send your own calc payload.

Here's my code to make a live ticker of the current profit loss percentage as tha

[2018-07-14 10:55] AndrejLischishin commented on #145
I keep getting this error:
[code]

[2018-07-15 03:03] tr91 commented on #127
Having this exact same issue with the exact same errors in the same lines.

(Is this related to [https://github.com/Crypto-toolbox/btfxwss/issues/125]) ? Not sure how to go about implementing the fix mentioned there.

[2018-07-15 08:33] scoupafi commented on #127
@tr91 : Check @dantimofte 's answer.

[2018-07-16 14:33] tr91 opened #146 "Timeout settings?"
There was one case where the websocket data stopped coming in for 1 hour. Had to keyboard interrupt it, and start the script from scratch. No error was given at all, just nothing being printed.

Any idea where I should add a (socket) timeout etc?

[2018-07-18 13:37] EpicAAA commented on #145
I'm not sure. Can I look at some more code? All I could recommend is make sure you're using wss.account() instead of without the () wss.account won't work

[2018-07-18 14:14] AndrejLischishin commented on #145
[code]

[2018-07-18 14:35] EpicAAA commented on #145
I use
`from btfxwss import BtfxWss
wss = BtfxWss(key secret)`

so your wss = client.BtfxWss(key,secret) may not be working correctly. Try importing like that.

[2018-07-18 14:41] AndrejLischishin commented on #145
I ve manually imported client.py and other files because account() is only in dev branch and btfxwss
is installed via pip, but it doesn't contain dev branch, only master

[2018-07-20 08:24] petr-fedorov commented on #127
I believe this issue might be fixed when [reset WebsocketApp.sock #450](https://github.com/websocket-client/websocket-client/pull/450) pull request is merged into [websocket-client](https://github.com/websocket-client/websocket-client). In the meantime  you can made [this change](https://github.com/websocket-client/websocket-client/pull/450/commits/f42f58745bedd2c6c164d216f6ece21273be418c) yoursel

[2018-07-20 16:12] tr91 commented on #127
Thanks @petr-fedorov

I'll try adding this line as per that pull request:
self.sock = None

[2018-07-20 19:57] petr-fedorov commented on #127
@tr91 Unfortunately it might not be enough - just checked myself and found that weboscket-client crashes in another place(s). I will investigate the issue further.

[2018-07-21 11:33] tr91 commented on #127
@petr-fedorov Thanks. Yes I was just about to post an issue after adding that that I get this error instead:
![2018-07-21_201323](https://user-images.githubusercontent.com/41246263/43035146-ae245ed4-8d2d-11e8-8999-3fdbd40615cf.png)

[2018-07-21 13:45] petr-fedorov opened #148 "Websocket configuration is not restored during reconnect"
As [specified](https://docs.bitfinex.com/v2/docs/ws-general#section-configuration) by Bitfinex API a client may change websocket configuration. This functionality is implemented by [BtfxWss.config()](https://github.com/Crypto-toolbox/btfxwss/blob/42f00f0c78fb9962d47e6d24132a753b1823c54b/btfxwss/client.py#L429) method. Unfortunately the websocket configuration configuration is not saved by this met

[2018-07-21 17:42] ShelMX commented on #68
Like you, I faced the same problem.
Did you solve this problem?
If so, what helped you?)

[2018-07-21 17:47] tr91 commented on #127
@petr-fedorov Thanks. I'll make amends to the btfxwss\connection.py file, and will restore the original websockets _app.py file :)

[2018-07-30 18:49] tr91 commented on #127
@petr-fedorov Hey Petr, happy to say I've not had any more of such errors since I last posted 9 days ago. <3 Hope its permanent

[2018-07-31 10:11] #126 closed

[2018-07-31 10:12] #127 closed

[2018-07-31 10:13] #148 closed

[2018-07-31 10:15] nlsdfnbch commented on #144
Hey @12bogdan03 ,

Try the latest dev branch - #148 might have fixed this issue for you.

[2018-07-31 10:17] nlsdfnbch commented on #146
Hey @tr91 ,

could you check if the latest dev branch still has this issue ? It may have been taken care of with PR #147.

[2018-07-31 10:18] nlsdfnbch commented on #148
Thanks, @petr-fedorov !

[2018-08-02 04:26] tr91 commented on #127
![2018-08-02_142549](https://user-images.githubusercontent.com/41246263/43562471-1083d98e-9660-11e8-8b00-0ade43bf3001.png)
Uh oh issue cropped up again

[2018-08-02 05:33] petr-fedorov commented on #127
@tr91 I don't see that from the above screenshot.  `INFO:btfxwss.connection: Connection closed` is a normal message. Traceback is for KeyboardInterrupt exception - you shouldn install signal handler for SIGINT (Ctrl+C) like [this](https://stackoverflow.com/questions/1112343/how-do-i-capture-sigint-in-python)  to exit gracefully

[2018-08-02 05:48] tr91 commented on #127
@petr-fedorov I pressed Ctrl+C when the screenshot was taken. Hence it was stuck at "connection closed' for over 4 hours

[2018-08-02 06:27] petr-fedorov commented on #127
@tr91 Most likely it is a different issue. You need to set BtfxWss log level to DEBUG. i.e.  `wss = BtfxWss(log_level=logging.DEBUG)` in order to see what will happen exactly before "Connection closed" message. You'd better save log messages to file - there will be a lot of them

[2018-08-02 06:58] JinnyWang0716 commented on #112
I meet the same error(1006:java.io.IOException: Connection reset by peer) as you, when I reconnect, then throw DeploymentException(The HTTP response from the server [HTTP/1.1 200 OK] did not permit the HTTP upgrade to WebSocket). I don't know how to solve the problem, How do you solve it?

[2018-08-02 07:07] JinnyWang0716 commented on #112
I know you create a new instance to solve the problem, thanks!

[2018-08-02 09:14] yufeng0528 opened #149 "pip install not newest version"
now the version is 1.1.16
lots of feature missing, for example ping/pong with server

[2018-08-02 16:06] nlsdfnbch commented on #149
Hey @yufeng0528 ,
thanks for pointing this out - it has indeed been a while since the package was updated. I will update it, as soon as I can.
Meanwhile, you can always install the latest version from the dev branch.

[2018-08-03 08:44] #149 closed

[2018-08-04 05:59] tr91 commented on #127
Got it thanks petr! Now to wait another week or two :D

[2018-08-07 01:54] yufeng0528 opened #150 "after running for hours the timeout become much"
I have two websocket application ,one for trade, one for candlestick,
each subscribe 60 coinpairs

the data (trade or candlestick) from server has timeout running after serverl hour,
a few coinpair delay server hours, while some coinpair delay seconds

I cannot turn out.

[2018-08-07 07:34] yufeng0528 commented on #150
[code]
change
[code]

[2018-08-07 07:34] #150 closed

[2018-08-07 16:42] ojsaito opened #151 "Connection Issue"
Thank you for sharing this wonderful tool. I'm not a strong programmer, so your code and example are invaluable for me to get up the learning curve, to hopefully implement some computer-driven strategies on BFX.

The example code worked pretty well for a few hours yesterday, but started throwing the following logging warning a few hours in:

INFO:btfxwss.connection:Connection opened
INFO:btfxwss.c

[2018-08-09 06:13] petr-fedorov opened #152 "A proper handling of a Bitfinex-initiated connection closing"
Sometimes Bitfinex closes connection on its own. btfxwss quitely process this event without letting its client to know about that.  The only symptom is the following message in the log file:

![2018-08-09 09-06-37](https://user-images.githubusercontent.com/949629/43881096-bf8f6756-9bb3-11e8-9c4b-3834731b6cd0.png)

It is highly desireble  to log also the closing reason, if any. Websocket-client, wh

[2018-08-09 06:14] petr-fedorov commented on #127
Have a look at #152

[2018-08-11 02:56] yufeng0528 opened #154 "how to reconnect properly"
[code]
and when the connection is close
got unlimited print as below
[code]
what's wrong with my code,
or right way to reconnect?

[2018-08-12 13:25] #152 closed

[2018-08-12 13:37] deepbrook commented on #151
Hey @ojsaito,
This is likely an issue with the connection to Bitfinex - if the problem persists, enable debugging for the btfxwss client and post your log file here. Then I'll gladly help you out!

Cheers,
Nils

[2018-08-12 13:40] deepbrook commented on #154
Hey @yufeng0528 ,
reconnection should be handled by btfwss automatically. Check out the latest version, which should have any issues with this function fixed.

Cheers,
Nils

[2018-08-12 13:40] #146 closed

[2018-08-18 06:37] prateekdataman opened #155 "ORDER RELATED API"
Have you developed api for new order,order modification, cancellation....please provide me link to that so that i can develop furthur.

[2018-08-18 06:41] prateekdataman opened #156 "SUBSCRIPTION TO DATA"
Inside code you have subscribe to data for trades,tickers and order book, etc. but to get those data from exchange you have implement while loop which is not suitable as well as not working fine as if a user subscribe to market data then they will have to get those data in a variable automatically when there is any activity in exchange....please help me to resolve that

[2018-08-18 10:09] yufeng0528 commented on #154
thanks for your reply
you mean that
[code]

is useless ?
i will verify it

[2018-08-23 16:19] Indiana3714 commented on #127
@petr-fedorov
![2018-08-24_021445](https://user-images.githubusercontent.com/41246263/44538184-f6333a80-a743-11e8-852e-942b84c16579.png)
Had a look at 152 as well, will make the changes to the file I have based on your commits. Thanks a lot! (new to github) Is there an updated bundled version of all the files as per your updates?

[2018-08-28 08:49] petr-fedorov commented on #127
@tr91 Everything has been merged already - you can try to install the latest version

[2018-08-30 19:44] evrardts opened #157 "authenticated channels"
Hello,

Thanks a lot for your hard work on this api, very useful!

Do you have any idea when the authenticated channels will be available?

Thanks,

Evrard

[2018-09-03 00:51] niladell opened #158 "New websocket-client release breaking code"
Hi

I came back to this library after a while, but a piece of code I have that used to work now was giving me this error.

[code]

I bypassed it by setting my websocket version to 0.48, as the new released version is what seems to be the issue.

[2018-09-03 08:17] deepbrook commented on #158
Hey @niladell,
I'm aware of the breaking change - it's due to the `_on_*` callbacks no longer requiring the `ws` argument. If you have the time, do you think you could submit a PR to fix this ?

It's a small change, but I'm currently swamped with work.

[2018-09-03 11:26] CooleRnax commented on #157
I'm missing them too

[2018-09-09 16:00] #158 closed, assigned to nobody

[2018-09-15 15:25] JannisJoplin opened #159 "client_tests don't work"
Hi,
I have not much experience in python so excuse me if my question seems quite simple.
Like in the instruction I installed via: pip install btfxwss

But then the client_tests didn´t work - neither the code written in usage.
For the client_tests I get the error message attached.

[test.log](https://github.com/Crypto-toolbox/btfxwss/files/2385854/test.log)

Can anybody help me what I do wrong?

Th

[2018-09-20 04:45] doyeob commented on #132
same here

[2018-09-21 04:45] doyeob commented on #159
same here.
OSX 10.13.6
Python 3.5.4
btfxwss 1.2.1

[2018-09-24 18:34] VictorHVS opened #160 "problems with reconection"
I got this error:

2018-09-24 18:32:36,645 - btfxwss.connection - INFO - Connection opened
2018-09-24 18:32:36,647 - btfxwss.connection - INFO - Connection Error - filedescriptor out of range
in select()
2018-09-24 18:32:36,647 - websocket - ERROR - close status: 31522
2018-09-24 18:32:36,648 - btfxwss.connection - INFO - Connection is closed normally.
2018-09-24 18:32:37,202 - btfxwss.connection

[2018-09-26 09:13] jemeraldo commented on #159
Hi! I faced with same problem, and i solved it by next operations in file ...\Python36-32\lib\site-packages\btfxwss\connection.py:

`def _on_message(self, ws, message):` -> `def _on_message(self, message):`
`def _on_close(self, ws, *args):` -> `def _on_close(self, *args):`
`def _on_open(self, ws):` -> `def _on_open(self):`
`def _on_error(self, ws, error):` -> `def _on_error(self, error):`

and now

[2018-09-26 11:28] JannisJoplin commented on #159
Thank you - but does not help for me...

[2018-09-27 13:56] VictorHVS commented on #151
Same problem here :(
I need to watch the prices continuously

[2018-09-27 13:57] VictorHVS commented on #154
Any news guys?

[code]

[2018-09-29 18:09] deepbrook commented on #159
Hey @JannisJoplin,

This was indeed an issue with the websocket library - the issue was fixed by them, and there should not be any need to fix callbacks arg anymore.

Please let me know if this issue is resolved for you now.

[2018-09-29 18:10] deepbrook commented on #160
Does this issue persist for you? Bitfinex's websocket sometimes is a bit..peculiar.

[2018-09-29 18:12] deepbrook commented on #157
@evrardts , @CooleRnax ,
the authentication already works and should be possible -
call `authenticate()` on your client (given you gave your credentials on initialization), and you should be good to go!

[2018-09-29 18:13] deepbrook commented on #156
Sorry, I can't help you with any code implementation that may be specific to your needs.

[2018-09-29 18:13] #156 closed, assigned to nobody

[2018-09-29 18:14] deepbrook commented on #155
https://github.com/Crypto-toolbox/btfxwss/blob/master/btfxwss/client.py

You can find the methods there!

[2018-09-29 18:14] #155 closed, assigned to nobody

[2018-09-29 19:14] VictorHVS commented on #160
Yes, it persists. Why don't you use this: https://websockets.readthedocs.io/en/stable/intro.html? I'm using and no problems so far.

[2018-09-30 05:04] deepbrook commented on #160
I'm currently migrating the library. However, this is a pastime project and I simply don't have enough time to put in as much work as I'd like.

[2018-10-01 06:00] CooleRnax commented on #157
@nlsdfnbch
Last time I tested there was no `wallets` method

[2018-10-02 20:04] JannisJoplin commented on #159
Hi Nils,

sorry but it does not work for me. I have attached the test-protocol.
[test.log](https://github.com/Crypto-toolbox/btfxwss/files/2439502/test.log)

Grüße Jannis

[2018-10-12 10:12] ReyvanZA commented on #159
[test.log](https://github.com/Crypto-toolbox/btfxwss/files/2472634/test.log)
I have a similar issue. Hope this helps. My websocket client is up to date, and I've tested it separately and it works.

And this is the terminal output
DEBUG:btfxwss.connection:run(): Starting up..
DEBUG:btfxwss.connection:_connect(): Initializing Connection..
DEBUG:btfxwss.connection:_connect(): Starting Connection..
--

[2018-10-21 08:13] ToonWeyens opened #162 "Pypi version 1.2.2 breaks `raise_exception`"
In the PyPi 1.2.2 version, `raise_exception` (inside `connection.py`) seems to be broken. Comparing different version shows that instead of

    info_message = {20000: 'Invalid User given! Please make sure the given ID is correct!',

the 1.2.2 version uses

    info_message = {20000: ',

which results in the obvious python error

    SyntaxError: EOL while scanning string literal

When I patch it

[2018-10-21 09:09] dantimofte commented on #162
It looks like version 1.2.2 was built from the Dev branch

[2018-10-21 09:40] deepbrook commented on #162
There'll be a release later today / tomorrow fixing this.

[2018-10-21 09:41] ToonWeyens commented on #162
Thanks!

[2018-11-01 13:26] CooleRnax commented on #157
wallets method is still not available =(

[2018-11-01 15:34] NogbadTheBad1 commented on #127
Worked for me. Thanks!

[2018-11-12 02:00] Indiana3714 opened #163 "websockets reconnecting constantly?"
Had this issue for months already recently (fine before), is this an issue with the code or bitfinex's side?
`12:43:50 PM -  $6455.9      0.0246
12:43:50 PM -  $6455.9      0.2324
12:43:59 PM -  $6455.9      0.0031  BOUGHT
send: b'\x88\x82v&q\xdau\xce'
--- request header ---
GET /ws/2 HTTP/1.1
Upgrade: websocket
Connection: Upgrade
Host: api.bitfinex.com
Origin: http://api.bitfinex.com
Sec-WebSock

[2018-11-24 13:52] 51bitquant opened #164 "the auth_nonce problem"
the bitfinex official docs has explicitly says  'authNonce string An ever increasing numeric string but should not exceed the MAX_SAFE_INTEGER constant value of 9007199254740991."

but in your code ,  nonce = int(float(time.time()) * 100000) is already greater then 9007199254740991, it may occur some problem in the future, i think the best way for produce the nonce would like the following:
nonce

[2018-12-05 14:27] kilometer2162 commented on #159
I ran client_tests.py then I found errors below, I would appreciate if anyone who can help me to reslove these errors.

Ran 1 test in 11.056s

FAILED (failures=1)

Failure
Traceback (most recent call last):
  File "/Volumes/Work/workspace/btfxwss-master/tests/client_tests.py", line 27, in test_subscribing_to_data_works
    wss.tickers('BTCUSD').get(block=False)
  File "/Library/Frameworks/Python.f

[2018-12-06 02:57] kilometer2162 opened #165 "fail to run client.py ,help"
I ran the file 'client.py' ,got this error " Cannot call subscribe_to_ticker() on unestablished connection! "

[2018-12-06 15:21] deepbrook commented on #165
Hey @liudy2162 ,
That error speaks for itself - you've tried to subscribe to a ticket before the client was able to establish a connection. Try `time.sleep()` or a `try/except` block to re-try subscibing.

[2018-12-11 06:21] kilometer2162 commented on #165
Thanks @nlsdfnbch

[2018-12-11 06:21] #165 closed, assigned to nobody

[2019-02-12 15:20] JannisJoplin commented on #159
Now it works, I am not sure what my mistake was... Thank You!

[2019-03-02 02:07] 51bitquant commented on #163
Yes, I don't know why, the server send the heartbeat to the client, and don't need to constantly reconnect constantly.

[2019-03-10 05:09] 51bitquant commented on #163
I check that it seem you don't manage the heartbeat properly, it was not cause by the network, I use the Bitfinex Official framework, it do handle the websockets properly.

[2019-03-21 15:48] Indiana3714 opened #166 "not responding sometimes"
I had an instance where my internet went down, so of course the stream data would cease to come in. The issue is that sometimes even when my internet reconnected the websocket connection was not reestablished and stream data isnt reconnected. I assume the heartbeat packet send: b'\x88\x82\xabw\x02u\xa8\x9f'  was sent by the WebsocketApp function. Just a heads up, since the websocket library works

[2019-06-11 17:45] WallaceWilliam opened #167 "Upcoming Bitfinex API Update June 2019"
please
make changes
https://www.bitfinex.com/posts/381

[2020-05-20 18:08] mb2222 opened #168 "Account channel not updated"
Hi,
I get my account info by the following way:
[code]

Then I do what I want with l, no problem.

Problem : if I put a new order in the same code, I don't see it in the list, it is like wss.account is not updated.
What did I do wrong ?